[2015-03-26 05:55] KyleAMathews opened #1 "Keyboard support?"
Curious if you're planning to add this.

[2015-03-26 06:02] moroshko commented on #1
@KyleAMathews Could you be a bit more specific? You can use Up/Down/Enter keys to navigate the suggestions.

[2015-03-26 06:07] KyleAMathews commented on #1
Oh... so weird. I could of sworn this wasn't working just a second ago when I was trying your demo... moving on :)

[2015-03-26 06:07] #1 closed

[2015-04-12 11:23] nthtran opened #4 "Callback for when a suggestion is selected?"
There should be a way to detect when a suggestion is selected. I was expecting some kind of `onChange` or `onSelected` handler.

[2015-04-12 11:28] moroshko commented on #4
@nthtran We currently discuss the `onChange` option in [this Pull Request](https://github.com/moroshko/react-autosuggest/pull/3). You are welcome to contribute!

Also, could you please describe your use case for `onChange` or `onSelected` so we better understand what exactly you need?

[2015-04-12 11:46] nthtran commented on #4
I mainly need `onSelected` for now. Currently I'm trying to use `react-autosuggest` for location suggestions. Upon selecting a suggestion (either via keyboard or mouse click) I want to be able to move the map to that location immediately. For this to work `onSelected` should be called with the selection string/object.

Also I can see myself using `onChange` and `onBlur` for validating or saving as

[2015-04-12 12:07] moroshko commented on #4
@nthtran Thanks for your feedback. I agree that it makes sense to add an `onSelected` option.

Assuming [we add](https://github.com/moroshko/react-autosuggest/pull/3#issuecomment-92046212):

    inputAttributes {
      onChange: ...
      onBlur: ...
      onKeyDown: ...
    }

how would you feel about having `onSuggestionSelected` on the `<Autosuggest />` itself rather than having it inside `inpu

[2015-04-12 12:11] nthtran commented on #4
:+1: definitely makes more sense to have `onSuggestionSelected` on `<Autosuggest />` itself rather than `inputAttributes`!

[2015-04-12 12:13] moroshko commented on #4
@nthtran Great! I'll add the `onSuggestionSelected` in the next day or two. Watch this space.

[2015-04-13 09:13] renebliesenbach opened #5 "Initial value is not set"
I have a problem concerning the initial value, which is never set. The initial value is setted via props. Here is my Component:
module.exports = React.createClass({

  getDefaultProps: function() {
    return {
      initial: '',
      id: '',
      name: '',
      className: 'form-control',
      placeholder: 'Chose customer...'

    }
  },
  getInitialState: function() {
    return {
      CUSTO

[2015-04-13 09:33] moroshko commented on #5
@renebliesenbach Could you please show where you instantiate `<Autosuggest />`, and where you instantiate the component above?

Could you also try and change

    var inputAttributes = {
      ...
      value: this.state.initial
    };

to

    var inputAttributes = {
      ...
      value: 'My fancy initial value'
    };

and let me know if you see the initial value?

Formatted code would he high

[2015-04-13 11:02] renebliesenbach commented on #5
In autocompleteComponent.jsx (Code above):
'use strict';
var React = require('react');
var Autosuggest = require('react-autosuggest');
...

In my FormComponent:

var Autocomplete = require('./autocompleteComponent.jsx');
< div className = "row" >
     < div className = "col-md-4" >
     <Autocomplete ref="customer" initial={this.state.dokument.customer}/>
     </div>
</div>
If i debugg the render

[2015-04-13 12:48] moroshko commented on #5
@renebliesenbach Can you show how you use `<Autosuggest />` in `autocompleteComponent.jsx`? The code in your first comment seems truncated. I can't see all the props you pass to `<Autosuggest />`.

[2015-04-13 13:09] renebliesenbach commented on #5
[code]

[2015-04-13 13:44] moroshko commented on #4
`onSuggestionSelected` is available in version 1.9.0

[2015-04-13 13:44] #4 closed

[2015-04-13 13:49] moroshko commented on #5
@renebliesenbach Thanks for the formatting! It's much easier to help you this way. This code looks ok. Could you show which props you are passing to `autocompleteComponent.jsx`?

If you could create a repo that I can clone and recreate the issue that would be helpful.

[2015-04-14 19:45] jstejada opened #7 "onSuggestionFocused"
Hi @moroshko , I need to add event listeners for `mousenter` and `mouseleave` on my suggestions. I'm currently binding the event listener to my react component returned by `suggestionRenderer`, like so (simplified):

[code]

However, the event listener is never being called, and I'm getting the following react warning:
`Warning: Any use of a keyed object should be wrapped in React.addons.createFra

[2015-04-14 20:40] jstejada commented on #7
nevermind, I figured it out.. and it doesn't have to do with react-autosuggest. Thanks!

[2015-04-14 23:31] jstejada commented on #7
@moroshko actually, I made it work, but I can't handle the case when a suggestion is focused using the up/down keys. Would you consider supporting an option like `onSuggestionFocused` like I mentioned in my first comment?

[2015-04-15 04:03] jstejada commented on #7
I just submitted pull request #8 for this feature, so I will close this issue.

[2015-04-15 04:03] #7 closed

[2015-04-15 10:38] moroshko commented on #5
@renebliesenbach Are you still experiencing the issue? If yes, please create an reproducible example.

[2015-04-15 13:33] stream7 opened #10 "Always call event.preventDefault on onInputKeyDown?"
Hello!

I have a use case where when enter is clicked in order to select one suggestion the form is submitted. I think that it might be a good idea to expose the event onSuggestionSelected

[code]

See https://github.com/moroshko/react-autosuggest/blob/master/src/Autosuggest.js#L181

[2015-04-15 23:11] moroshko commented on #10
@stream7 Thanks for #11! I think it's probably not a good idea to **always** call `preventDefault()` as users might want to submit a form when suggestion is selected. User should be in control whether to submit a form or not, and this is why you want the `event` object, right? You basically want to call `event.preventDefault()` inside `onSuggestionSelected()`, right?

[2015-04-16 06:20] moroshko opened #12 "Add option to cache case insensitive results"
Scenario:
1. User types `mel`
2. Suggestions are retrieved from an API
3. User deletes the field, and types `MEL`
We should be able to reuse the previous results in cache rather hitting the API again. This should be configurable.

[2015-04-16 08:33] stream7 commented on #10
@moroshko yes that is correct

[2015-04-16 10:49] stream7 commented on #10
thanks!

[2015-04-16 10:49] #10 closed

[2015-04-16 10:58] moroshko commented on #10
Thank you for the contribution! Hopefully, I'll publish a new version on npm in the next day or two.

[2015-04-16 12:46] moroshko commented on #10
It's in v1.10.0 now, enjoy!

[2015-04-16 12:47] stream7 commented on #10
@moroshko Thank you! :)

[2015-04-18 07:37] moroshko commented on #5
@renebliesenbach Please check if the latest version still have this issue, and if yes, please create a reproducible example.

[2015-04-18 07:37] #5 closed

[2015-04-20 20:19] jstejada opened #13 "Order of execution of onSuggestionSelected option"
I have a use case where I need the function I pass in as the `onSuggestionSelected` option to be called after the autosuggest has completely re-rendered the list of suggestions, i.e. after it has successfully removed/cleared the list of suggestions.

@moroshko , do you think this would be a good idea to implement?

[2015-04-20 22:49] moroshko commented on #13
@jstejada It sounds like `onSuggestionSelected` is not what you need. Could you describe a bit more what's your use case?

[2015-04-20 23:20] jstejada commented on #13
So basically my use case is the following:

When a suggestion is selected 1 of 2 things should happen (depending on its type):
  - It should be added to a collection of objects in another view, or
  - It should render a new list of suggestions. These new suggestions are corequisites of the original one, i.e. the user cannot add the initial suggestion to his collection unless he also adds one of th

[2015-04-21 12:06] moroshko commented on #13
@jstejada Sounds like you are implementing quite a complex interaction. I find it a bit confusing that user can still type in the input field after they selected the first tier suggestion.

* Should the input affect the second tier suggestions in any way? If not, why the input has to be visible at all? I feel like it will confuse users.
* Have you considered to show the second tier items separatel

[2015-04-21 12:57] jstejada commented on #13
Yes it is a bit complex. To answer your questions:

- No, the second tier suggestions are not affected by the input value. They are subsets of suggestions belonging to some of the first tier suggestions. My approach is to disable the input when this case occurs. I can show you a couple of screenshots of how it is supposed to work if you want.

- I have considered this actually, the thing is that I

[2015-04-22 03:50] moroshko commented on #13
@jstejada I feel like what you are trying to achieve is beyond what `react-autosuggest` was designed for.

I don't mind to try and help you if you send me some screenshots, but maybe lets do this via email (michael.moroshko@gmail.com). What do you think?

[2015-04-22 13:14] icodejs opened #14 "Clear auto suggest input field"
Is there a way to clear the input field after a user has selected a suggestion?

I am interested in what the user has selected, and use this data to update another component but once this is done, I'd like to have access to the input so that I can clear it.

Please can you let me know if this is possible.

Thanks.

[2015-04-22 18:10] jstejada commented on #13
thanks @moroshko ! it is definitely not a common use-case, but using `react-autosuggest` will absolutely save me most of the work for searching and interacting with search results. Although I do realize the solution for this specific use case might be a little hackish.

I will email with the details and screenshots. Again, thank you so much for your help!

[2015-04-23 11:02] moroshko commented on #14
@icodejs Currently, there is no nice way to clear the input on selection. You could try something like this:

    class MyComponent extends React.component {
      clearInput() {
        React.findDOMNode(this.refs.autosuggest.refs.input).value = '';
      }
      render() {
        <Autosuggest ref="autosuggest" onSuggestionSelected={this.clearInput} ... />
      }
    }

I haven't tested it, so

[2015-04-23 11:06] moroshko commented on #13
@jstejada
No worries, glad to help!

[2015-04-23 11:06] #13 closed

[2015-04-23 12:57] icodejs commented on #14
Thanks @moroshko,

Your solution worked!!

I had wrapped your auto suggest component in my own pillbox component, which would allow a user to select from the suggestions, and then create a pillbox. Obviously once pillbox was created, the text within the input was no longer be needed.

I will close the issue now as your solution did the trick.

Thanks!

[2015-04-23 12:57] #14 closed

[2015-05-01 18:21] jstejada opened #16 "closeOnSelect or selectMultiple option"
hi @moroshko ! me again.

I was wondering what you thought of an option to prevent the `Autosuggest` from closing when a suggestion is selected. This would allow users to select more than one suggestion, and I believe it might be a common use case.

Let me know what you think. Thanks!

[2015-05-02 00:36] moroshko commented on #16
@jstejada Sounds reasonable. However, it's going a bit to a direction of a custom multi-select dropdown (I mean something like [this](http://react.rocks/tag/Multiselect) or [this](https://www.npmjs.com/package/react-multiselect)).

The idea of Autosuggest component is to assist user to select an option. If you give user the ability to select multiple options, they'll probably also want an option t

[2015-05-02 12:05] moroshko commented on #12
Implemented in v1.12.1

By default, results are cached regardless of input's case, so if you type 'A', you'll get results for 'a'.
This is not configurable at the moment as I couldn't see a real use case for not caching this way.

[2015-05-02 12:05] #12 closed

[2015-05-05 20:50] spinus opened #17 "autofocus support?"
Hi, how I can add autofocus to input field?

I've tried something like:
[code]
but does not work.

[2015-05-05 22:47] moroshko commented on #17
Have a look how it's done in [examples](http://moroshko.github.io/react-autosuggest). This works:

    <Autosuggest suggestions={getSuggestions}
                 inputAttributes={{ id: 'yourInputId' }}
                 ref={ () => { document.getElementById('yourInputId').focus(); } } />

You can also try this approach:

    <Autosuggest suggestions={getSuggestions}
                 ref="autosugges

[2015-05-06 12:50] dmitry opened #18 "Best practice to show up value different from the internal"
For example, I have a suggestions with the following JSON:

[code]

How would I show up the `John` as a selected suggestion, but use `1` (id) as a value to post with a form?

I can think of only one solution, hide input with a `id` value, and show `name` in `span` or `div` tag.

How do you deal with following situations?

[2015-05-06 13:13] moroshko commented on #18
@dmitry If that's what you want to do, I'd say that autosuggest is the wrong component for this task. You should probably use a select box (dropdown). With autosuggest users are allowed to type a free text (and submit it with the form), while you probably want to force user to select one of the presented options and not allowing them to submit a free text. Does this make sense?

[2015-05-06 14:33] dmitry commented on #18
@moroshko yes, you are correct, something like dropdown with the autocomplete (and with ajax request for every input change) similar to https://select2.github.io/examples.html is a better match. But the same solution can be completed with `react-autosuggest`, but I found the only one way how to do that (described this method in the topic). What I like so far about the `react-autosuggest` - it's ea

[2015-05-06 18:21] jstejada commented on #17
@spinus I believe that React supports autofocus as `autoFocus` , i.e. camelized: https://facebook.github.io/react/docs/tags-and-attributes.html#html-attributes

Maybe that is your issue?

[2015-05-06 18:40] jstejada commented on #16
@moroshko thanks for your response!

Yes, all of your arguments are correct, it would definitely be going in the direction of a multi-select dropdown like the examples you shared, which maybe is a bit out of the scope of react-autosuggest, or may require too much work.

The initial way I had imagined it is that `onSuggestionSelected` would be called every time a suggestion was selected, and it wou

[2015-05-06 19:45] spinus commented on #17
@moroshko I didn't put tag inside form, I wasn't doing a form, I'll try this anyway.
Thank you for example, I missed that.

@jstejada I'll try today and report.

[2015-05-07 02:00] cmnstmntmn opened #19 "parent input doesn't get the value attribute filled with data"

[2015-05-07 11:09] moroshko commented on #19
@cmnstmntmn Could you elaborate a bit on the issue including code sample if possible? It's not clear from the title what the problem is.

[2015-05-07 11:12] moroshko commented on #18
@dmitry Glad you found an alternative that suits better your needs. Thanks for the kind words about `react-autosuggest`!

[2015-05-07 11:12] #18 closed

[2015-05-08 11:28] diridam opened #20 "onBlur event on the input"
Hello,
Is there any way to trigger onBlur on the input box ?

i've tried this:
1) in the render function
[code]

in component:
[code]

the method called "blurCallback" is not triggered when i'm defocusing the input box.
Anyone can give me some hints on this issue ? am i missing something ? or this isn't implemented in moroshko's component?

thanks

[2015-05-08 11:49] moroshko commented on #20
@diridam At the moment (v1.12.1), `<Autosuggest />` sets its own `onBlur` callback on the input. This is why your `onBlur` callback is ignored. In the next version, which will hopefully be out in the next couple of days, there will be a way to do what you want. Can you share what are you trying to achieve with `onBlur`?

[2015-05-08 11:59] diridam commented on #20
I want to validate the fields with another component. (add a class if i don't have info inside or remove it if i have).
I've tried with the events you've forged inside but there are some cases when they're not triggering.

[2015-05-08 12:27] moroshko commented on #20
@diridam Not sure I understand which events you are talking about and when they are not triggering. Could you elaborate please?

[2015-05-08 12:36] diridam commented on #20
http://moroshko.github.io/react-autosuggest/

1) press "a" in the input, then select an option with the "up" "down" arrows -> last event is "Suggestion selected:"
2) press "a" in the input, then select an option with the mouse -> last event is "Input changed:"

I tried of using "input changed" to do my validations, but because 2) is not ending in "suggestion selected" it's a problem, because all t

[2015-05-08 12:52] moroshko commented on #20
@diridam What you observe is the expected behaviour according to [WAI-ARIA spec](http://www.w3.org/TR/wai-aria-practices/#autocomplete). Input's value should change when using <kbd>Up</kbd> and <kbd>Down</kbd> keys, but not when hovering with mouse.

You should be able to use `inputAttributes.onChange` if you want to validate on every letter.

But, if you want to validate only when input loses foc

[2015-05-08 12:53] diridam commented on #20
@moroshko, that's exactly what i want to do, validate when input looses focus
:+1:

looking forward

btw. thanks for the component  :)

[2015-05-10 02:18] moroshko commented on #20
@diridam Would it be ok not to call `onBlur` (meaning not to validate) when user clicks on a suggestion? As you can see, the input keeps the focus after click.

[2015-05-11 12:27] moroshko commented on #16
@jstejada UX-wise, I'd suggest not to show suggestions that can't be selected. IMHO it just pollutes the view and can set the wrong expectation. Can you filter out the previously selected suggestions?

[2015-05-11 12:28] moroshko commented on #19
Please provide more info if you still experience the issue.

[2015-05-11 12:28] #19 closed

[2015-05-11 12:29] moroshko commented on #17
@spinus Any luck?

[2015-05-11 12:36] diridam commented on #20
@moroshko, i think it's perfect. UX wise, is ok to have a validation at maximum the latest action a user has on that particular web element.

[2015-05-11 20:20] spinus commented on #17
@moroshko: Sorry I forgot to report!
@moroshko, @jstejada inputAttributes={{autoFocus:true}} works like a charm. Thank you!
@moroshko I didn't try other stuff because I like this simple one :-)

[2015-05-11 21:27] jstejada commented on #16
@moroshko yes, I totally agree. The thing is that in this specific use case, the suggestions are events that can be added to a weekly calendar (more specifically, they are courses from a college course catalog, which have events). When a suggestion is focused, it shows the preview of the event in the calendar, i.e. the times of the event and where it would be placed in the calendar.

When an even'

[2015-05-12 06:52] #17 closed

[2015-05-12 10:41] samuliheljo opened #21 "Scrollbar on fixed height suggestion container will not scroll when arrow keys are pressed"
I have a style:
.react-autosuggest__suggestions {
  max-height: 130px;
  overflow: auto;
}
and quite a lot of suggestions.

I would like suggestion container to scroll when user clicks arrow up or down. Any ideas?

[2015-05-12 10:43] samuliheljo opened #22 "React to enter press when nothing is selected"
I have following values available for autosuggest:
- value 1
- value 2
- value 3

Now, without doing any selection with arrows or mouse, I want to type "value 1" and hit enter. Currently, I can't seem to get any callback on this. Am I missing something?

[2015-05-12 11:50] moroshko commented on #20
@diridam `inputAttributes.onBlur` added in v1.12.2. Enjoy!

[2015-05-12 11:50] #20 closed

[2015-05-12 11:56] moroshko commented on #21
@samuliheljo Looks like a bug. I'll have a look, but feel free to submit a Pull Request to speed up things :)

[2015-05-12 12:02] moroshko commented on #22
@samuliheljo Could you please describe what are you trying to achieve? What's your use case? What do you expect to happen when you press Enter?

[2015-05-12 13:04] moroshko commented on #16
@jstejada Thanks for the pointer to [uniandes.academical.co](http://uniandes.academical.co), it really helps to understand what you are trying to achieve! I couldn't figure out though how to add courses, so I never see any suggestions :(

One thing that I noticed in the video is that when suggestion is clicked, the value in the input is **not** changed, which is different from the current behaviou

[2015-05-12 13:06] samuliheljo commented on #22
Sure.

Firstly, thanks for great component. For the most part it has worked perfectly for us.

So the case is that we are using autosuggest to find addresses that are stored on a server. It seems that some users just type their needed address to input field (e.g. "Mainroad 1") and press enter without actually selecting that specific value from autocomplete dropdown even when it is visible in dropd

[2015-05-12 13:09] samuliheljo commented on #22
To give an extra example for "something"
1) User types "Mainroad" and hits enter
2) We want to search for "the first address that exist on Mainroad", and select coordinates for it

This way user can find at least some location on Mainroad easily

[2015-05-12 13:16] moroshko commented on #22
@samuliheljo Thanks for the explanation!

Will this work?

    onFormSubmit() {
      // do your stuff
    }

    <form onSubmit={onFormSubmit}>
      <Autosuggest ... />
    </form>

[2015-05-12 16:05] jstejada commented on #16
@moroshko thanks for your comments!

Yes, the thing is that the old version you saw doesn't really use an autosuggest, just a regular list of results and an input. We are implementing the autosuggest for the new version.

Regarding your comments on the `closeOnSelect` option, you are right its probably not the best solution. The proper model would be to have a notion of disabled and enabled items,

[2015-05-12 23:19] moroshko commented on #16
@jstejada Are you happy to close the suggestions list when an enabled item is added? If yes, than please ignore the problem I mentioned.
Is the only thing that is missing for you at the moment is not allowing users to select certain suggestions (disabled ones)?

[2015-05-13 00:09] diridam commented on #20
:+1:

[2015-05-13 07:44] samuliheljo commented on #22
Yes, it does. Cheers! Closing this issue.

[2015-05-13 07:44] #22 closed

[2015-05-13 14:35] jstejada commented on #16
Yes, exactly. I am happy to close the suggestion list when an enabled item is added, and what I need right now is not allowing users to select disabled suggestions.
Returning a specific value from `onSuggestionSelected` seems like a straightforward solution to determine if a suggestion is enabled or disabled.

[2015-05-13 23:13] moroshko commented on #16
@jstejada Another option is to have a special key in suggestion objects, say `disabled`. If `suggestionObj.disabled === true`, then selecting this suggestion using mouse or keyboard will have no effect. Does this sound reasonable?

[2015-05-14 21:24] jstejada commented on #16
@moroshko yes, that should work! do you want me to go ahead and create a pull request?

[2015-05-15 05:45] moroshko commented on #16
@jstejada I feel like we are going too far here. The original purpose of react-autosuggest is to help users to fill in a certain field faster by typing less.

As far as I can see, what you are trying to achieve is a filter (or a search field), with results displayed below. The ultimate purpose of your users is not to fill in a certain field. They probably just want to see a list of available cours

[2015-05-16 02:34] moroshko commented on #21
@samuliheljo I wonder what's your use case to have so many items that require a scroll bar. Maybe autosuggest is not the right component for you? Could you please describe your use case?

[2015-05-18 08:15] samuliheljo commented on #21
Hi, use case is same as described in #22. We got it working using similar hack as described in that issue.

One could argue that in case of long list maybe only top n results should be shown and thus prevent this problem from occurring.

This issue is not currently blocking us. It is not clear whether this will be in our final implementation. If you are interested, see https://github.com/HSLdevcom

[2015-05-18 09:31] moroshko commented on #21
@samuliheljo Nice hack :)

From UX point of view, I'm not sure how helpful are those suggestions that are hiding behind the scrolling bar. I'd guess that most users just continue typing to reduce the amount of suggested options, rather than stop typing and scrolling to see the rest of the suggestions.

But, I agree, it's not that clear, and ideally react-autosuggest will "just work". You are welco

[2015-05-18 12:18] liamzebedee opened #24 "Package dist as single file for client-side inclusion"
I'm using Meteor which doesn't allow importing NPM packages on the client-side - is it possible to get this packaged into a single file for client-side inclusion.

I'm trying to hack a solution up in Webpack/Browserify now...

Thanks :)

[2015-05-18 22:53] moroshko commented on #24
@liamzebedee I prefer keep using Webpack rather than introducing another tool (Browserify). Could you check please if [this](https://github.com/moroshko/react-autosuggest/blob/standalone/dist/standalone/autosuggest.min.js) works?

[2015-05-19 08:28] liamzebedee commented on #24
Okay, makes sense and cheers!

I've loaded it, throw `Uncaught TypeError: Cannot read property 'Component' of undefined` where the snippet is something like `onSuggestionFocused:function(){},onSuggestionUnfocused:function(){},inputAttributes:{}},enumerable:!0}]),t}(g.Component);`

Looks like the React variable is being minified to `g` and thus it can't access React.Component

[2015-05-19 11:07] moroshko commented on #24
@liamzebedee Thanks for the feedback!

The problem was:

    externals: {
      react: 'react'
    }

it should be:

    externals: {
      react: 'React'
    }

I fixed that and also created a [standalone example](https://github.com/moroshko/react-autosuggest/tree/standalone/examples/standalone). Please have a look and let me know if it works for you as expected now.

[2015-05-19 13:52] liamzebedee commented on #24
Yeah that works fantastically! Thanks so much for being this fast and helpful :) Have a good one!

[2015-05-19 13:52] #24 closed

[2015-05-20 09:46] moroshko commented on #24
Added `dist/standalone` and `examples/standalone` in v1.12.3

[2015-05-20 23:11] #16 closed

[2015-05-22 16:09] jstejada commented on #16
@moroshko no worries! Thanks anyway for your attention!

[2015-05-30 20:18] anyong opened #27 "Suggestions list via props instead of callback for flux data flow?"
Is there any way of doing this? I really like the component because it's the easiest autocomplete I tried, looks great, and has full ARIA support - lots of things to like!

What would be even better is a lightweight version that simply takes in the suggestions as a prop, but everything else remains as is. I originally tried putting a flux action call in the `suggestions` function, but since fluxib

[2015-05-31 09:38] moroshko commented on #27
@anyong I'm not very familiar with fluxible. Could you share some code to illustrate the issue?

[2015-05-31 11:16] anyong commented on #27
Essentially the actions used in fluxible do not allow callbacks to be run by design, so that actions can be purely fire-and-forget, allowing for a better flux flow. In this case, any things like async data will come into a component as props after the action->store->update view cycle is complete.

Here's the problem:

[code]

[2015-05-31 12:28] moroshko commented on #27
@anyong Thanks for explaining!

I'm a bit confused with your example though. You have the props `suggestions` here:
[code]
and also here: (array of suggestions)
[code]
These 2 props shouldn't have the same name, right?

Happy to help to make react-autosuggest flux friendly.

[2015-05-31 14:38] anyong commented on #27
They are two different props. `this.props.suggestions` would be the
suggestions props coming into the current component via flux, while the
`suggestions={this.getSuggestions}` is a prop of the child Autosuggest
component.

I would ideally like to write:

[code]

Where `this.props.suggestions` is the actual list of suggestions, not a
function. No callbacks necessary.

[2015-06-01 12:02] moroshko commented on #27
@anyong Oh, my bad... Now it makes sense.

At the moment, `<Autosuggest />`'s `suggestions` is a function, and I feel like allowing it to be an array is probably not a good idea. Normally, every `prop` would have a predefined type that can be verified with `PropTypes`. So, I would be inclined to leave `suggestions` as a function:

[code]

[code]

Note that `<Autosuggest />` wraps the given `sugges

[2015-06-03 02:33] anyong commented on #27
Yes, putting the AJAX call inside of my component is what I've done for the moment - not entirely happy with it but it does get the job done.

Yes of course the caching issue is noticeable right away when you try to implement it like I did. I don't particularly see a reason why the cache can't live outside of the Autosuggest and inside of the data store, which is probably where it should live in a

[2015-06-05 12:13] Halama opened #28 "State handling"
Hi,
we have encountered issue with component state. The component hold current value of input in it's internal state, so when the property `inputAttributes.value` is changed the change is ignored by Autosuggest component.

Here is the demo https://jsfiddle.net/1y4v9pw6/3/

The fix is remove state from component https://github.com/keboola/react-autosuggest/commit/d13008c27e2148205855b0a2fea70dfdc03

[2015-06-05 14:18] tpievila commented on #27
Giving a list of suggestions as a prop would also help us to create nested suggestions: input "Foo" would first give choices "Fooroad, Bartown", "Fooroad, Baztown" and "Foostreet, Bartown", and after selecting one the list would change into "Fooroad 1, Bartown", "Fooroad 5, Bartown" and so on. Of course it would be pretty useful to be able to prefill, or otherwise change the input value too.

[2015-06-06 11:53] moroshko commented on #28
@Halama Thanks for the issue and the examples to illustrate it.

I guess you meant "...let it behave as **un**controlled component", right?
According to [React docs](https://facebook.github.io/react/docs/forms.html#controlled-components):

Just removing `value={this.state.value}` like [you suggested](https://github.com/keboola/react-autosuggest/commit/d13008c27e2148205855b0a2fea70dfdc03eaeef), wil

[2015-06-06 12:25] moroshko commented on #27
@anyong Unfortunately, when `<Autosuggest />` was designed, I didn't have the flux mindset yet. I wanted it to be a plug-and-play component that gives you things like caching and debounce out of the box. Of course, we could start taking these things out of the component, and implement them ourselves, but I feel that it would become a completely different component then. Maybe we could have 2 compo

[2015-06-06 12:34] moroshko commented on #27
@tpievila What you are trying to achieve is beyond the scope of autosuggest. See #13.

[2015-06-10 00:40] leishman commented on #28
@moroshko

How can i manually update the value attribute of the input field? I'm having a hard time resetting this input after submission. The value seems to be maintained in the state and I cannot figure out how to properly reset it.

[2015-06-10 13:24] dnusca commented on #28
Hi,

I'm having what I think is a similar issue. I'm trying to set the value of the autosuggest externally.

I've tried using `React.findDOMNode(this.refs.autosuggest.refs.input).value = match;` where `match` is my string value I am wanting to set to no avail.

[2015-06-10 16:47] dnusca commented on #28
@leishman This may help - https://github.com/moroshko/react-autosuggest/issues/14

[2015-06-10 17:21] leishman commented on #28
@dnusca Thanks for that link, however that's not exactly what I'm looking for. I want the input to be cleared when a form is submitted. I'm using this in a search bar at the top of my site, so the search text was staying there after the search was submitted. I want the field to stay filled after the suggest selection, but cleared when the form is submitted. When i manually change the value of the

[2015-06-11 16:34] joeybaker opened #29 "accessiblity feature: scroll focused suggestion into view"
It would be great, if the focused suggestion could use `scrollIntoView` so that we could ensure it was visible.

Two options I can see for how to implement this:

1. `onSuggestionFocused` could pass the full `focus` event as a second parameter so that users could use DOM APIs to implement this themselves.
2. Just have this lib call `scrollIntoView` on focus.

[2015-06-13 11:14] moroshko commented on #28
@leishman You should be able to set the value using:

    React.findDOMNode(this.refs.autosuggest.refs.input).value = event.target.value;

    <Autosuggest ref="autosuggest" ... />

Have a look at [this example](http://jsbin.com/qepoca/1/edit?js,output).

I'm not sure what you mean by:

Could you please create JSBin that demonstrates the issue?

[2015-06-13 11:16] moroshko commented on #28
@dnusca Where you able to solve your issue? If not, could you please create JSBin that demonstrates the issue? You could use [this one](http://jsbin.com/qepoca/1/edit?js,output) as a starting point.

[2015-06-13 13:26] moroshko commented on #29
@joeybaker We already have a [similar issue](https://github.com/moroshko/react-autosuggest/issues/21).

Thanks a lot for your suggestions! I adapted the `scrollIntoView` approach.

It's fixed in v1.14.1

[2015-06-13 13:26] #29 closed

[2015-06-13 13:26] moroshko commented on #21
It's fixed in v1.14.1

[2015-06-13 13:26] #21 closed

[2015-06-13 14:21] joeybaker commented on #29
Sorry for the dupe! Thank you!

[2015-06-13 18:42] leishman commented on #28
@moroshko Thanks for the response. If I have time, I will try to make a JS Bin. But with your solution, this merely manipulates the DOM right? It does not update the actual value in the state of the Autosuggest component.

If you reset this value as you suggest, then the component re-renders, it seems that the state remains unchanged and contains the previous value, so on re-render the previous va

[2015-06-14 02:04] moroshko commented on #28
@leishman You are right! Indeed, `state.value` doesn't change using this technique.

What's the ideal API you would expect to be able to set the value?

[2015-06-15 21:52] dmitry opened #30 "Using non-suggested value"
Is it possible to use not suggested value, by inputing `enter`?

From the source it looks impossible to have such behaviour:
https://github.com/moroshko/react-autosuggest/blob/54aae81c907948109eb13e22a6e83a3660f63e9c/src/Autosuggest.js#L231

[2015-06-15 23:56] moroshko commented on #30
@dmitry What do you want to happen when you hit `Enter`?

[2015-06-16 10:38] dmitry commented on #30
@moroshko to invoke some callback similar to `onSuggestionSelected`. Right now I don't believe it's possible to have such behaviour, except to use `onKeyUp` callback in `inputAttributes` props.

[2015-06-16 10:52] moroshko commented on #30
@dmitry Note that input's value changes when user interacts with the Up/Down keys. I feel like you should be updating your search results either `onSuggestionSelected` or on `inputAttributes.onChange`. When user hits Enter, we just close the suggestions list. Could you explain please why would you want to update the results only when user hits Enter?

[2015-06-16 12:38] dmitry commented on #30
@moroshko for example, I have a location input, when I type I would like to see suggested cities and countries. But some of them might be not in our suggester database, and still we would like to give a user possibility to choose his value (not in auto-suggest listing).

Right now I found only one possibility of doing that by getting `input` `value` of `autosuggest` component through `findDOMNode`

[2015-06-16 13:13] moroshko commented on #30
@dmitry I think using form's `onSubmit` is indeed what you want. See also #22.

If you intercept form's submission, and perform an AJAX request, then getting input's value using `findDOMNode`, as you specified, should do the trick. If you feel like you expect a better/simpler API from Autosuggest, let me know your wildest dream ;)

[2015-06-16 16:26] dmitry commented on #30
After living for some time with the current solution I believe it's the best way to make it work as I want to. @moroshko thank you for your help, again! :+1:

[2015-06-16 19:26] dmitry commented on #28
What about `this.refs.autosuggest.setState({value: value});`?

[2015-06-16 23:02] #30 closed

[2015-06-17 00:14] leishman commented on #28
To me it would make more sense to explicitly pass the value as a property into the component. This would be the more "react" way of doing it in my opinion.

[2015-06-17 01:49] idolize commented on #28
@leishman Agreed.

@moroshko Perhaps the `value` prop could be used to set the state on the initial render *as well as* on `componentWillReceieveProps`? That way it can still maintain the "intermediate" state as the user is typing, but also get a new value from the parent without having to resort to a very "un-React" methodology of using setter functions.

In my opinion, this would be the "expecte

[2015-06-17 02:13] moroshko commented on #28
@idolize Sounds good. PR would be appreciated :+1:

[2015-06-17 04:24] pathsny opened #31 "Dropdown closes on focus lost, but does not re-open on focus gained"
Specifically the way this manifests is when I switch to a different window and return the dropdown should re-open. Instead I end up in a state where the textbox has text and is selected but the dropdown is not open.

The component should listen to onfocus and re-open.

[2015-06-17 08:45] tpievila commented on #27
Would you still consider a PR, per the previous comment? We have to implement this sooner or later, though I have to check if using react-autosuggest makes sense as a starting point and how much I have to change.

[2015-06-17 10:54] moroshko commented on #31
@pathsny I agree. I'll have a look at fixing this when I have some spare time, but feel free to submit a Pull Request to speed up things ;)

[2015-06-17 21:26] idolize commented on #28
Just submitted a PR. I've tested and it works.

A few notes:
1. I moved `value` out of `inputAttributes` as it is now not really `<input>` specific
    - This is a breaking change, so perhaps the major version number should be incremented
2. I created a `defaultValue` prop to mimic the old, uncontrolled behavior (this is the standard I've seen in many other React components)
3. If using both `valu

[2015-06-18 12:43] moroshko commented on #27
@tpievila I'm not sure I understand your proposal. Could you describe how would you like Autosuggest to look like to satisfy your needs?

[2015-06-18 13:12] moroshko commented on #28
@idolize Thanks a lot for the PR! Watch for some comments [there](https://github.com/moroshko/react-autosuggest/pull/32).

[2015-06-20 04:22] moroshko commented on #21
@samuliheljo @joeybaker Note that from version 1.15.0 you have to specify [`scrollBar={true}`](https://github.com/moroshko/react-autosuggest#scrollBarOption).

[2015-06-22 03:58] pathsny opened #33 "setting the type of the input"
Is it possible to set the type of the input? For example, setting input type=search, creates an automatic "clear" button which is pretty useful.

[2015-06-22 06:07] moroshko commented on #33
@pathsny At the moment, it is not possible. If you set `inputAttributes={{ type: 'search' }}`, Autosuggest will override it with `type='text'`. Feel free to submit a PR. Should be easy :)

[2015-06-22 08:17] tpievila commented on #27
The problem is that only way to give suggestions to the component is when it asks for them, via the callback given to suggestions function. But when a suggestion is selected, there is no way to show a new set of suggestions.

If the suggestions were props instead, then the parent component could rerender the Autosuggest component. Of course there could be other ways to do this.

[2015-06-25 08:04] mbektimirov opened #36 "Need to disable caching"
Hi! The forced caching solution looks strange for many reasons and breaks desired behavior of the component. Could you please add an option to disable it?

[2015-06-25 11:57] moroshko commented on #36
@mbektimirov Thanks for raising the issue. I was waiting for someone to raise that :) Could you share  your use case for not wanting to cache the results?

It should be easy to add a `disableCache` prop to the component. Feel free to submit a Pull Request. Otherwise, I'll have a look when I get some free time.

[2015-06-26 20:36] kevbook opened #41 "Clear cache on component unmount"

[2015-06-27 01:31] moroshko commented on #27
Ideally, Autosuggest would support both flux and non-flux architectures. Unfortunately, at the moment, flux is not supported. Is anyone keen to help designing Autosuggest to support flux? I'm be interested to see an example that uses [redux](https://github.com/gaearon/redux), for example.

[2015-06-27 03:07] moroshko commented on #31
@pathsny It is fixed in 1.16.1 now. Enjoy!

[2015-06-27 03:07] #31 closed

[2015-06-27 04:00] moroshko opened #42 "Update `inputAttributes.onChange` parameter from `newValue` to `event`"
[The expected parameter of `onChange` is `event`](https://facebook.github.io/react/docs/forms.html). Let's keep things consistent.

**This is a breaking change.** `UPGRADE_GUIDE.md` needs a note.

[2015-06-27 05:17] moroshko commented on #41
@kevbook Could you elaborate a little bit more on the issue?

[2015-06-27 05:33] moroshko commented on #33
@pathsny Starting from version 1.17.0 you are able to change input's type:

    inputAttributes={{ type: 'search', ... }}

Enjoy!

[2015-06-27 05:33] #33 closed

[2015-06-27 06:04] CalebMorris commented on #27
So I currently use react-autosuggest with Reflux and made a branch from react-starter to show how I have it set up: https://github.com/CalebMorris/react-starter/tree/reflux.

The main things that are the structure are in `app/{stores,actions,api,components/Autocomplete.jsx}` with most logic in the component.

Whenever the input query changes, I update the state for the query, which re-renders the

[2015-06-30 00:48] idolize commented on #28
@moroshko Any more progress on this (I'd love to use this code as soon as possible)? Just curious if you are planning to add the object mapping code/tests or if you would like me to.

Personally, I'd feel more comfortable with you handling that because I don't really understand it as well.

[2015-06-30 09:20] moroshko commented on #28
@idolize I'm happy to do what's left for 2.0. I have a lot going on at the moment, but I'll try to find time to finish this. Are you able to use the 2.0 branch from GitHub (rather than npm) for now?

[2015-06-30 21:44] kevbook commented on #41
Now that I think about it, I don't think you need this. React will take care of it.

[code]

[2015-06-30 23:01] moroshko commented on #41
@kevbook  So can we close this issue?

[2015-07-01 07:46] tpievila commented on #28
Would this make sense for even more tightly controlled component?

[2015-07-01 11:49] moroshko commented on #36
@mbektimirov `cache={false}` is added to 1.18.0. Enjoy!

[2015-07-01 13:50] mbektimirov commented on #36
Nice! Thank you!

[2015-07-05 17:31] Mark-L6n opened #46 "Multiple sections demo bug"
Very nice!
FYI, noticed in [Multiple sections demo](http://moroshko.github.io/react-autosuggest/#Multiple sections) that all relevant sections sometimes appear, and sometimes don't.
error:  type 'ha'  or 'ga' [1st-word matches disappear on 2nd letter]
ok:  type 'hi' or 'go'
[From what is seen, could be related to whether or not a 3rd word is available that matches]

[2015-07-07 11:07] moroshko commented on #46
@Mark-L6n For "ha" the dictionary has only second word matches. This is why only the second section appears. Same for "ga". This is the expected behaviour.

[2015-07-07 11:35] #41 closed

[2015-07-07 11:35] #36 closed

[2015-07-07 17:39] Mark-L6n commented on #46
But if you type just "h" or "g" by themselves you see lots of 1st-word matches for "ha" and "ga".

[2015-07-12 04:33] pathsny commented on #31
Thank you

[2015-07-13 12:41] philjackson opened #48 "Dropdown without input value"
We'd love to be able to dropdown the suggestions on input focus *even* when there's no value. Looking through the source, it seems that might be impossible at the moment - is that the case?

[2015-07-13 23:19] moroshko commented on #48
@philjackson Interesting. Could you describe your use case please? Have you seen others that behave this way? Link please?

[2015-07-14 09:46] philjackson commented on #48
@moroshko What we're really looking for is a combobox-style input. We need to allow the user to input arbitrary text or use one of a few suggestions we can give them. However, we have a preference for them selecting one of our predefined options, so would like them to see it as soon as possible.

[2015-07-14 10:48] moroshko commented on #48
@philjackson I wonder whether autosuggest is the best tool for this. Are you still interested in the filtering behaviour, i.e. as user starts typing the list becomes smaller? How many suggestions do you have when the input is empty?

Maybe something like [react-combobox](http://kbakba.github.io/reactjs-combobox/examples.html) is more suitable for you? Have a looks also [here](http://react.rocks/ta

[2015-07-14 11:02] philjackson commented on #48
Still interested in the filtering, definitely. The number of items will vary, but will always be small enough that presenting all of the options wouldn't be a poor ux/network experience.

react-combobox looks good, but we'd like to keep the look and feel consistent (we use your control further up the page to complete large datasets).

[2015-07-14 12:58] moroshko commented on #48
@philjackson Thanks for the explanation. I think your use case makes sense.

After some digging I found that it was a bug. All fixed now. If you use version 1.18.2 you should be able to use `showWhen={() => true}`. Let me know how you go.

BTW, will the page you're working on be publicly available? If yes, and you don't mind I can include your site in the "Used by" section in the README (doesn't e

[2015-07-14 13:02] philjackson commented on #48
@moroshko That's great - thank you very much. We'll try it now.

We're not public yet, but will be soon(ish). I'll try and remember to ping you when we're up!

[2015-07-14 13:05] moroshko commented on #48
@philjackson Great, thanks!

[2015-07-14 13:05] #48 closed

[2015-07-14 13:16] philjackson commented on #48
Tested - seems to work fine. Thanks again.

:+1:

[2015-07-16 00:52] binarykitchen opened #49 "Using another input element?"
Is there an option where I can refer to another input element? Because our app relies heavily on react-bootstrap which comes with a nice set of predefined inputs.

To avoid ugly hacks or forks, it would be nice if this module would accept a reference to another existing input. Does such an option already exist or do you think you could add that?

[2015-07-16 02:05] moroshko commented on #49
@binarykitchen I'm not sure what you mean. What's your use case for react-autosuggest? What are you trying to achieve with this new option?

[2015-07-16 04:08] moroshko commented on #46
@Mark-L6n Sorry, you're right. This is happening because [suggestions are randomized](https://github.com/moroshko/react-autosuggest/blob/master/examples/src/MultipleSections/MultipleSections.js#L15) on every new letter. Feel free to submit a Pull Request to improve this.

[2015-07-16 04:36] binarykitchen commented on #49
I want to use these input elements instead
http://react-bootstrap.github.io/components.html

[2015-07-16 05:01] moroshko commented on #49
@binarykitchen I haven't used `react-bootstrap` before, and not familiar with it's `<Input />` behaviour. I can't immediately see how to integrate `react-autosuggest` with `react-bootstrap`, but if you have an idea how this could work, feel free to submit a Pull Request (with a working example, please).

[2015-07-17 02:40] EricWarnke opened #50 "Scaling?"
Any idea how this performs with list of 2,000 entries? 5,000?

[2015-07-17 04:56] moroshko commented on #50
@EricWarnke I haven't tried it with large lists, but feel free to try and report back.

I wonder, however, what's your use case to have so many suggestions? One could argue that from UX point of view it's not that helpful to see so many suggestions.

[2015-07-17 15:08] EricWarnke commented on #50
I'll maybe give it a shot.

We're trying to let enterprise customers match up emails from one service to another. Sometimes there are thousands of emails that need to get mapped and the customer would simply search for the username and match it. We'd never display thousands of options at once.

[2015-07-19 15:01] anatoliyarkhipov opened #51 "ComboBox-like behavior"
Hi. I use the component with small datasets (like user roles, for example, 4-5 records) and I want to open the suggestions list with all roles in it when user clicks in the input. The `getSuggestions` callback already designed to return the whole list if the `input` arg is empty, but I can not figure out how to force the component to do this.

[2015-07-19 21:34] moroshko commented on #51
@anatoliyarkhipov Try `showWhen={() => true}`

[2015-07-26 15:48] anatoliyarkhipov commented on #51
I already tried that, but it did not help the first time. After your response I digged into this a little bit further and figured out how to do what I want.

Only two problems here.

The `renderSuggestions()` method:

[code]
This - `this.state.value === ''` - blocks rendering of suggestions if the input is empty. I just decorated this method:

[code]

The second problem is that I want to open the

[2015-07-27 06:31] moroshko commented on #51
@anatoliyarkhipov From your code it looks like you are using an old version of `react-autosuggest`. If you use `1.18.3`, you don't need any hacks.

[2015-07-27 07:23] anatoliyarkhipov commented on #51
You are right. My current version is 1.14.1. Thank you for help, @moroshko !

[2015-07-27 07:23] #51 closed

[2015-07-27 22:03] ben-ng opened #52 "Input value does not update when props change"
`componentWillReceiveProps` is not implemented. This means that the value of the input can't be set by the parent component. Quite annoying in a realtime system! I had to hack around it by setting the state directly from the parent.

[2015-07-27 22:21] moroshko commented on #52
@ben-ng We are going to add support for controlled components in 2.0.
Feel free to check out the 2.0 branch.

[2015-07-28 22:28] nickbouton commented on #17
Using the 2.0 branch right now, `autoFocus: true` in `inputAttributes` is not working for me -- it's not being passed through to the child input.

[2015-07-29 02:51] pathsny opened #53 "Bug With Controlled Component Implementation"
Controlled Components allow you to set value, however this effectively conflates two different concerns.
Setting the currently selected value should be equivalent to changing the selection the user has made.
Setting the currently selected inputValue should be equivalent to the user entering new text.

Currently setting value does not update the suggestion list.

What I'm really looking for is a wa

[2015-07-29 20:52] idolize commented on #53
This is being addressed in the v2 branch

[2015-07-29 23:27] pathsny commented on #53
@idolize  This IS a bug report about the v2 branch, is it opened in the wrong area?

[2015-07-30 00:13] idolize commented on #53
@pathsny Sorry, I didn't realize you were referring to the `2.0` branch. To clarify: the issue is that you can't set an "empty" selected suggestion via `value`?

It looks like that should be possible in the code, as long as your parent component (the one controlling the `Autosuggest`) doesn't rely purely on using `onSuggestionSelected` to maintain the value in it's state, because right now that ca

[2015-07-30 00:33] pathsny commented on #53
@idolize the issue is that even when the value is set to empty string, the list of suggestions does not update (ideally to an empty list). The problem is that "value" could be referring either to the value in the textbox as a user had typed it, or it could be referring to the selected value when the user highlights a specific option from pre-selected text.

I was proposing two different props. One

[2015-08-04 15:33] donaldparker commented on #52
@ben-ng care to share your text, I am setting the value of the text field in the parent component, however as soon as the field gets focus the value is restored.

[2015-08-04 18:25] ben-ng commented on #52
@donaldparker I put a ref on the autosuggest component and did this from the parent

[code]

[2015-08-05 07:55] jjvattamattom opened #55 "Is there a delay/debounce parameter?"
Is the suggester called for each change or can we set a delay between requests?

[2015-08-05 11:00] moroshko commented on #55
@jjvattamattom At the moment, there is a default debounce of 100ms on the [`suggestions`](https://github.com/moroshko/react-autosuggest#suggestionsOption) function. If this default behaviour is not what you need, I'll be happy to review a Pull Request :)

[2015-08-05 14:37] jjvattamattom commented on #55
Its good. Thanks!

[2015-08-05 14:37] #55 closed

[2015-08-06 11:52] PetrSnobelt opened #56 "Is it possible to use it with textarea?"
Hi, I'm looking for autosuggest for textarea, is it possible to use react-autosuggest with textarea and if so can you add example?

Thanks

[2015-08-06 12:14] moroshko commented on #56
@PetrSnobelt Could you describe your use case?

[2015-08-06 12:31] PetrSnobelt commented on #56
I have textarea for supplier full name and address.
When someone start typing supplier name I'd like to allow them to use previously inserted supplier.

In past I use http://bassistance.de/jquery-plugins/jquery-plugin-autocomplete/ for this, but I'm looking for react/nojquery alternative

[2015-08-06 13:18] moroshko commented on #56
@PetrSnobelt It's not possible to achieve what you want with this component. `react-autosuggest` always renders an `<input>` element.

[2015-08-06 13:18] #56 closed

[2015-09-01 09:40] DERIIIFranz opened #57 "Dynamically switch suggestions-property"
When I try to switch Autosuggest's suggestions-property on runTime, it seems the initial suggestions-function keeps on getting invoked instead of the new one.

How to achieve the expected behavior?

[2015-09-01 10:23] moroshko commented on #57
@DERIIIFranz At the moment, unfortunately, this is not possible. This will be possible in v3.0 (see 3.0 branch).

[2015-09-01 10:30] DERIIIFranz commented on #57
do you know a workaround to get there?

[2015-09-01 11:02] moroshko commented on #57
@DERIIIFranz You'll probably have to fork the repo, and update `suggestions` in `componentWillReceiveProps()`.

[2015-09-01 11:07] DERIIIFranz commented on #57
If it's that simple, why isn't it just pushed to master-branch?

[2015-09-01 12:45] moroshko commented on #57
@DERIIIFranz I didn't say it's simple ;) We already have `componentWillReceiveProps()` in the `2.0` branch which will be released soon. At the moment, it allows you to update input's value on the fly. You are more than welcome to submit a Pull Request (to the `2.0` branch) that allows to update `suggestions`.

[2015-09-03 12:35] DERIIIFranz opened #58 "No Results feedback"
It would be nice being able to give the user feedback in case there's no result found.

[2015-09-03 19:54] sconno05 commented on #53
I ran into this issue too (I need the ability to prepopulate the input field in a form).  Any idea when v2 will be ready?  I'm happy to help if needed.

[2015-09-11 15:44] zjoin opened #60 "How import another component with a company list?"
I have a company list:
import CompanyList from 'Company/List/CompanyList';

import css from './SearchField.styl';
import React, { Component } from 'react';

import Svgo from 'Element/Svgo/ElementSvgo';
import CN from 'classnames';
import Select from 'react-select';
import CompanyList from 'Company/List/CompanyList';
import Autosuggest from 'react-autosuggest';

const suburbs = ['Cheltenham', 'Mill

[2015-09-14 13:42] nitelite opened #61 "Feature request: easy clearing of value after a selection has been made"
I have looked through some of the issues that seem to have to do with this scenario, but none of them seemed to give a very easy way to clear the value in the input, from what I could see.

Maybe implement a public reset() method that can be called from the onSuggestionSelected in situations where the callback is running in the parent component? This makes a lot of sense in applications where you

[2015-09-15 03:25] moroshko commented on #61
@nitelite Looks like what you need is a [controlled](https://facebook.github.io/react/docs/forms.html#controlled-components) behaviour. `react-autosuggest` [2.0](https://github.com/moroshko/react-autosuggest/tree/2.0) will support controlled components. I hope to release 2.0 soon, but you are more than welcome to try it out now. The API is pretty stable. The relevant docs section for controlled be

[2015-09-19 03:52] moroshko commented on #28
react-autosuggest 2.0 is out! It supports controlled behaviour.

[2015-09-19 03:52] #28 closed

[2015-09-19 03:53] moroshko commented on #42
react-autosuggest 3.0 will address this.

[2015-09-19 03:53] #42 closed

[2015-09-19 03:54] moroshko commented on #27
react-autosuggest 2.0 is out! It supports controlled behaviour.

Flux/redux support will be added in 3.0. See the [3.0 branch](https://github.com/moroshko/react-autosuggest/tree/3.0) for work in progress.

[2015-09-19 03:54] #27 closed

[2015-09-19 03:55] moroshko commented on #61
react-autosuggest 2.0 is out! It supports controlled behaviour.

[2015-09-19 03:55] #61 closed

[2015-09-19 03:56] moroshko commented on #50
Please open a new issue if you experience any issues with large data sets.

[2015-09-19 03:56] #50 closed

[2015-09-19 03:56] #49 closed

[2015-09-19 05:19] moroshko commented on #60
Sorry, I don't understand the question. Can you explain what the issue is?

[2015-09-19 05:26] moroshko commented on #58
@DERIIIFranz I just released react-autosuggest 2.0 which supports a controlled behaviour. You

[2015-09-19 05:26] #57 closed

[2015-09-19 05:27] moroshko commented on #58
This will be possible in 3.0. Check out the 3.0 branch for work in progress, if interested.

[2015-09-19 05:27] #58 closed

[2015-09-19 05:40] moroshko commented on #53
Sorry guys it took me so long to get back to this. I just released 2.0 which supports controlled components. However, I'm not sure that it solves the issue that @pathsny describes.

In a controlled component, I see `value` to simply be input's value. It has nothing to do with the selected suggestion.

@pathsny Do you basically expect the suggestions function to be called when `value` changes?

[2015-09-19 08:15] idolize commented on #28
@moroshko Awesome! You rock.

[2015-09-19 09:08] gajus opened #62 "Use react-css-modules"
Have you considered using react-css-modules?

https://github.com/gajus/react-css-modules

[2015-09-19 09:48] moroshko commented on #62
@gajus [react-themeable](https://github.com/markdalgleish/react-themeable) allows people to style the Autosuggest using Radium, JSS, etc, not just CSS Modules. As far as I can tell, react-css-modules is limited to CSS Modules (as its name suggests). Maybe react-themeable can support react-css-modules? @markdalgleish

[2015-09-19 11:15] moroshko commented on #52
@ben-ng @donaldparker I just released react-autosuggest 2.0 which supports controlled behaviour. Sorry it took so long..

[2015-09-19 11:15] #52 closed

[2015-09-20 01:06] pathsny commented on #53
Hi Misha, that's correct. I expect the suggestions function to be called
when the value changes. The easiest way to see the issue is when you set
the value to blank string. When the focus is on the input you get a popup
of suggestions even though the string is blank.

On Fri, Sep 18, 2015 at 10:40 PM, Misha Moroshko <notifications@github.com>
wrote:

[2015-09-21 09:56] moroshko commented on #53
Hey Vishnu, Do you expect the suggestions list to close when the value is updated to  empty string and the input is focused? I created a small demo [here](http://jsbin.com/kineromico/1/edit?html,js,output). Could you please modify it to highlight the issue?

[2015-09-21 19:48] approots opened #63 "Disabled options"
I'd like to have some disabled options. Anyone know how I could add that functionality?

I could use suggestion objects with a disabled property. However, I'll need a way of attaching a special css class to each disabled item. Also, I'll need to prevent the default behaviour on focus for disabled items.

[2015-09-22 00:20] approots commented on #63
A "section name" acts just like a disabled item should: a css class is attached so it can be styled grey, and it doesn't respond to mouse/keyboard events. It's a shame that it couldn't be a more generic feature that could extend to any kind of disabled item, and we could attach different css classes to differentiate each type.

I was able to use the section name functionality as a way to disable o

[2015-09-22 10:43] moroshko commented on #63
@approots Please see [this discussion](https://github.com/moroshko/react-autosuggest/issues/16#issuecomment-102268452) about disabled suggestions. I'm still waiting to see a convincing use case for having disabled suggestions in an autosuggest component. Could you share your use case please?

[2015-09-22 10:43] #60 closed

[2015-09-22 16:16] approots commented on #63
My use case is a job category search. We have thousands of job categories organized by popularity. However, even the most popular job category may not always have jobs on offer. For a given search input, we want to show the first x number of the most popular job categories. For example, a user types "desi", and we may show "web designer" and "print designer". However, if there are no jobs presentl

[2015-09-22 16:24] approots commented on #63
Regardless of use case though, I think the react-autosuggest could be more flexible and easier-to-use with this change:

this:

    [{
      suggestions: [<suggestion>, <suggestion>]   // This section won't have a title
    }, {
      sectionName: 'Second section',
      suggestions: [<suggestion>, <suggestion>, <suggestion>]
   }]

becomes:

    [
      {suggestion: 'fruit', className: 'category'

[2015-09-22 19:54] acthp opened #64 "bootstrap"
Is the themeable support usable with bootstrap? I tried briefly to configure it for bootstrap classes, but couldn't see a way to do it. For example, bootstrap wants the container for a dropdown to have class 'open' when a dropdown-menu is open, but I don't see a way to add a class to the autosuggest container when the dropdown is open.

[2015-09-22 22:27] pathsny commented on #53
yep, will do today thanks. My underlying thesis is that setting the value
of the text field should result in the suggestions list updating (and
potentially becoming empty for an empty string for example). One option
would be to move the value field from the top level component to the
textfield so that it's clear that it represents the value of the text field
and not the selected value.

On Mon, Se

[2015-09-23 01:54] acthp opened #65 "focus?"
Question: Why re-implement focus, instead of using the browser built-in focus? And if re-implementing, why call it "focus", when that already means something else? It is very confusing that onSuggestionFocused is unrelated to the browser focus.

[2015-09-23 04:58] approots commented on #63
So, I seem to have the disabled options working:

[Autosuggest.js](https://github.com/approots/react-autosuggest/commit/c5af3b0#diff-651b0d9446fc1220c0ffc50b317a1a12)
[sectionIterator.js](https://github.com/approots/react-autosuggest/commit/c5af3b0c682e0b86ac988066f5ba3e2b965971f6#diff-860a41c78a506b652940c44a42547457)

Not too hard thanks to your design. Most changes were made in sectionIterator.

[2015-09-23 06:08] pathsny commented on #53
Hi Misha, your demo is actually perfect to demonstrate the issue. When the
text changes to 'n' I would expect the suggestions list to be "nunawading"
but the suggestions list still starts with 'm'.  Is there a reason you do
not believe that is appropriate?

On Tue, Sep 22, 2015 at 3:27 PM, Vishnu <pathsny@gmail.com> wrote:

[2015-09-23 21:07] approots commented on #65
Well there's no DOM concept of focus on select options - even if this were a native select component - so there's no way to use the "browser built-in focus". And it's not quite the same concept of selected options either, since the options aren't selected, just highlighted.

As for the name "onSuggestionFocused", I don't mind it. As mentioned, it couldn't be "onOptionSelected". Maybe "onOptionHigh

[2015-09-23 21:15] acthp commented on #65
I like onOptionHighlighted. ;) But, whatever. The elements can be focused if you render them with anchor tags, same as any other drop-down menu.  If you add a custom render hook that returns an anchor tag, you will see that you now have two sets of controls (up/down, tab/shift-tab) that control two independent notions of "focus".

However I note that every other autocomplete widget I can find (jqu

[2015-09-23 21:15] approots opened #66 "onInputSubmitted?"
I'm wondering how to detect the enter key? If a user doesn't select an available option and types their own content and hits enter, can I capture that somehow? Would another event like `onInputSubmitted` make sense? This would fire if conditions aren't met for `onSuggestionSelected` when the enter key is hit.

[2015-09-23 23:06] acthp commented on #66
I just hit the same problem. Tried to bind onKeyDown, but it's overwritten by the component. This is critical.

[2015-09-24 03:11] donaldparker commented on #66
My solution to this was to ensure your component is in a form and listen for the on submit.

[2015-09-24 03:31] acthp opened #67 "need cursor position to generate suggestions"
For multi-word inputs the cursor position is necessary for generating the list of suggestions. This might be accomplished by passing it in the suggestions callback, by passing the ref for the input element, or by exposing the refs on the AutoSuggest class so the caller can inspect the cursor position.

[2015-09-24 03:43] moroshko opened #68 "Add touch support for mobile devices"
See: 602ebeedd4fe29a6f6c2c5c3c68d75ff749a17e1

[2015-09-24 05:23] approots commented on #66
Thanks donald. I suppose I could live with that. Although there still might be a use case this proposal.

[2015-09-25 18:36] acthp commented on #66
Using a form, aren't you still missing a ref for the input? You'd have to search the DOM for the input element? The value isn't in the event, or exposed by the component, and the refs are hidden.

[2015-09-25 19:59] approots commented on #66
Well, I like to use controlled components. Long story short, I store the value of the input on every change so all I need to know is that the form submitted.

Details about how I would do it: Every time the input changes, the function provided as the property of `suggestions` is called. In my `suggestions` handler, I update my state to the value of the `input` parameter. Then my component rerender

[2015-09-27 21:55] nitelite commented on #68
I suspect this bug might explain the problem I am having with iOS devices. When I click / press one of the suggestions, the suggestions list disappears, but the proper event for onSelectionClicked doesn't fire. Does this match the behavior you are seeing ?

[2015-09-29 13:33] bmcneely opened #69 "React version compatibility"
Does this component absolutely need the latest version of React in order to work properly? If not, its package.json should allow for older versions of React as far back as it will still work, while still trying to use the latest one possible. Otherwise, trying to use this component in conjunction with other components that need older versions of React results in a conflict of peer dependencies.

[2015-10-01 02:45] zawilliams commented on #69
Agreed. Just ran into this same issue.

[2015-10-05 14:20] matthewmueller opened #71 "passing suggestions directly into Autosuggest?"
Is it possible to do something like this:

[code]

this is helpful for systems like redux, where the suggestions would be in a store

[2015-10-08 02:39] moroshko commented on #68
@nitelite Yeah, I think it's the same. Should be fixed now in 2.1.0. Let me know if you still experience issues.

[2015-10-08 02:39] #68 closed

[2015-10-09 08:41] ksmth commented on #71
@matthewmueller:
As a temporary fix:
[code]

[2015-10-09 09:25] moroshko commented on #71
@matthewmueller I'm rebuilding react-autosuggest at the moment to support flux architectures including redux. Check out this [redux example](https://github.com/moroshko/react-autosuggest/blob/3.0/demo/src/components/App/components/Example1/Example1.js#L81). You are more than welcome to contribute to the design of the new API.

@ksmth Thanks for the suggested workaround.

[2015-10-09 09:31] moroshko commented on #69
@bmcneely @zawilliams Sorry guys. I decided to limit react-autosuggest 2.0 to React 0.14 in order to reduce the overhead of creating branching based on the version of React (mainly because of the split of `react-dom` from `react`). You can always install a [previous version](https://github.com/moroshko/react-autosuggest/tree/d0e9bc05e1f653bb859bbc74b4c41e7c214bf2a1) that requires React 0.13.

[2015-10-09 09:31] #69 closed

[2015-10-09 15:40] zawilliams commented on #69
Word. Thanks @moroshko!

[2015-10-11 21:42] nitelite commented on #68
Just wanted to add that upgrading to 2.1.0 fixed the issue for me. Thanks alot. I can now switch over from the old hacked together jquery thing on your website to the new react-based component. Oh, the joy :D

[2015-10-13 22:53] tarun1089 opened #72 "How do I export to standalone version."
It's not an issue but I couldn't find a suitable way to discuss this thing.

I want to convert latest release of react-autosuggest(or any other node module) to standalone version so that I can use the updated standalone library. Is there any procedure to convert node modules to one standalone script? How it is done here ?

[2015-10-13 23:19] moroshko commented on #72
@tarun1089 We have a `standalone` npm task in `package.json`. It compiles a  standalone version into [`/dist/standalone`](https://github.com/moroshko/react-autosuggest/tree/master/dist/standalone). Is there any issue with the standalone version?

[2015-10-14 06:49] hannesj opened #73 "Can't scroll autosuggestion list on mobile device"
[This](https://github.com/moroshko/react-autosuggest/blob/v2.1.0/src/Autosuggest.js#L514) makes it possible to get faster feedback on mobile devices, but unfortunately it makes it impossible to scroll the list, as the onTouchStart fires also when starting to drag the list.

[2015-10-14 09:57] moroshko commented on #73
@hannesj `onTouchStart` was added because iOS devices didn't pick up `onMouseDown` at all, so tapping a suggestion on iPhone, for example, was causing the suggestions list to close without updating the input value. That's the history behind `onTouchStart`.

Any ideas how to fix this? Pull request is welcome!

[2015-10-14 10:54] emorozov opened #74 "Doesn't work with the latest React version"
Hello,
I've upgraded react to 0.14.0 and react-autosuggest  to 2.1.0. Now my application spews exceptions to the debug console:
[code]

[2015-10-14 11:50] moroshko commented on #74
@emorozov Are you sure you don't have multiple copies of React loaded? I cannot see this error in the when running the examples (`npm start`). Can you provide a repo that demonstrates the issue?

[2015-10-14 11:53] emorozov commented on #74
I'm a novice in JS/React/Nuclear development, and my setup is very peculiar. It would be hard to create a small reproducible repo, because it's a huge Django/React-Nuclear project that is slowly migrating from traditional architecture to React/Nuclear.

Here's the code I use:
[code]

If this doesn't help, I'll try to create a small repoducible example as a separate project. And no, there's no mult

[2015-10-14 19:44] bachstatter commented on #73
Hi!
I made a PR using [react-tap-event-plugin]  (https://github.com/zilverline/react-tap-event-plugin). I added some thoughts as well. Please let me know what you think.

[2015-10-15 04:21] moroshko commented on #73
Thanks a lot! Version 2.1.1 is on npm now

[2015-10-15 04:21] #73 closed

[2015-10-20 07:58] loopmode opened #76 "configure debounce delay"
It would be great if we could configure the debounce delay time. Currently, it is hard-coded as 100ms, in Autosuggest.js ~line 63:

    this.suggestionsFn = debounce(props.suggestions, 100);

This can generate unnecessary load on the servers and I personally would like to set it to ~500ms for our particular project.

I can create a PR if you don't have time for this, but consider it as useful as I

[2015-10-20 08:44] moroshko commented on #76
@loopmode I agree, it needs to be configurable. PR is welcome!

[2015-10-21 13:23] loopmode commented on #76
basically an easy task, kind of finished. I struggle with getting an example running and line endings tho :) Hope i find time for a proper PR soon

[2015-10-21 13:29] loopmode opened #77 "Uncaught TypeError: Cannot read property 'toLowerCase' of null"
Sometimes, mostly when there is no input :), I get an error in the showSuggestions() method:

    Uncaught TypeError: Cannot read property 'toLowerCase' of null
    showSuggestions @     bundle.js:42954
    onInputFocus @   bundle.js:43241
    ReactErrorUtils.invokeGuardedCallback
    ...

Which is this line:

    var cacheKey = input.toLowerCase();

Mmaybe a simple check á la `(input && input.toL

[2015-10-21 23:09] moroshko commented on #77
@loopmode I don't want to put hacks without understanding the root cause. Please share a reproducible example, if you can.

[2015-10-22 06:21] loopmode commented on #77
Totally agree! Will investigate further on.

[2015-10-22 08:04] loopmode commented on #77
Okay, this is a non-issue. It is related to webpack hot reloading, stuff gets replaced behind the back of react-autosuggest.

[2015-10-22 08:04] #77 closed

[2015-10-23 16:09] jlc467 opened #78 "Dropdown closes when attempting to scroll (IE11)"
Using this example: http://moroshko.github.io/react-autosuggest/#Custom%20renderer

With IE11 browser, try to scroll results. It will close the dropdown.

For some reason clicking scroll bar triggers blur event.

[2015-10-24 04:01] phuongmn opened #79 "Auto suggest not working in mobile"
Hi friend.
I have problem with your plugin when using standalone mode.
Your plugin work well at my desktop but in mobile not rendering textbox for enter.
No have idea. Please let me know  if you know where i wrong.
Great work
Thanks,

[2015-10-24 04:48] moroshko commented on #79
@phuongmn Could you please provide a repo that demonstrates the issue?

[2015-10-24 05:53] phuongmn commented on #79
Oops... Thank you for soon answer, i was miss added react dom when depoy to my server, all work well now,
sorry for the inconvenience.
Great support.
Thanks.

[2015-10-24 06:03] #79 closed

[2015-10-26 11:10] antonklava commented on #74
I had the same error and was running multiple `react` copies. Make sure that you only have a single entry for react when you run `npm ls`. Reinstalling node modules fixed it for me.

[2015-10-26 15:04] tarsisazevedo opened #81 "defaultValue don't works"
I start using react-autosuggest and it's an amazing react component. But I have a problem when I try to set up defaultValue. I wrap autosuggest in another react component because project needs.

[code]
In react debugger defaultValue is ok but state.value not.
![screen shot 2015-10-26 at 1 03 52 pm](https://cloud.githubusercontent.com/assets/118348/10732628/0eaa46b6-7be2-11e5-9c0a-c2f8ee847fc4.png)

[2015-10-26 15:27] tarsisazevedo commented on #81
I update the component and it works! sorry :)

[2015-10-26 15:27] #81 closed

[2015-11-01 09:35] newsiberian opened #82 "Passing the additional elements to <Autosuggest /> and wrapping it content to another"
Hello @moroshko, thanks for the great package.

I'm working with Semantic UI, and I need to implement something like [this](http://semantic-ui.com/modules/search.html) with additional "search icon" or maybe a "loading icon". To achieve this I need to repeat the following structure:
[code]
As you can see here, seems the is no way now to wrap input in div [2, 5] and pass the \<i>[4] element to it. O

[2015-11-01 10:21] moroshko commented on #82
@newsiberian Sorry, there is no easy way to do this. You could probably try and dynamically add the missing elements, but I think it would make more sense to clone the repo and modify it to your needs. Can I ask why would you like to use react-autosuggest and not the Search component provided by Semantic UI?

[2015-11-01 10:25] newsiberian commented on #82
Because, I'm avoiding JQuery in project. Ok, anyway, thanks for a fast response:)

[2015-11-01 10:29] #82 closed

[2015-11-02 07:12] justin808 opened #83 "React 0.14.1?"
peer invalid: react-dom@^0.14.0, required by react-autosuggest@2.1.1

[2015-11-02 07:25] justin808 commented on #83
Solved by adding react-dom

[2015-11-02 07:25] #83 closed

[2015-11-03 13:21] Diokuz opened #84 "Change input value by props"
Hi there.

I have a problem: I use suggestor as element of user-edit form. After first user is edited, I open second user. Now I have old value from first user in suggester input.

I need to change input value by props, not by any user interactions.
How can I do that?

[2015-11-03 16:30] jadonald72 opened #85 "Override state value"
I have added value={this.state.autosuggestValue} to the autosuggest control.  I thought that this would allow me to set and change the state of the control, however it does not let me do this. When I set the initial state using getInitialState() I can call it outside the autosuggest control like {this.state.autosuggestValue} and it displays fine, but it does not set the value of the autosuggest co

[2015-11-04 03:02] moroshko commented on #84
@Diokuz You need to use a controlled behaviour (use the `value` prop). See [this example](https://github.com/moroshko/react-autosuggest/blob/master/examples/src/ControlledComponent/ControlledComponent.js).

[2015-11-04 10:41] spideynr commented on #84
@moroshko im trying to use autosuggest with the Aurelia framework. The thing is, if i understood correctly, that i need to be able to change the state through this.setState({value}) from your example ( i have little to no knowledge of React yet).

My problem is that inside my getSuggestions function i need the _this_ context to show to my Aurelia class, so that i have available its data.

The func

[2015-11-04 11:06] moroshko commented on #84
@spideynr You should be able to access `this.setState` from `getSuggestions`. Maybe the problem is that your `Autosuggest` class doesn't extend `React.Component`?

[2015-11-04 11:11] spideynr commented on #84
@moroshko i also saw that getSuggestions has the instanceof Autosuggest but i need to be able to use the this.suggestions variable of the class (thats two-way binded with aurelia) inside the function. Therefore i binded it on the class context and losing the Autosuggest context and this.setValue . Any ideas as to how to implement it? Extending my class with react.component would give me access to

[2015-11-05 12:19] spideynr commented on #84
@moroshko i updated my [gist](https://gist.github.com/spideynr/1f8ccd74f6f8342b37bb) with some temp fixes. I placed my class context and the Autosuggest context on let variables so that i can have both in the same block scope.

Now i have another peculiar problem. You will see on ```onSuggestionSelected``` i try clearing the state through ``` reactComponent.setState({value:''});``` . But it seems

[2015-11-06 02:21] idolize opened #88 "No way to "pass by value" for suggestions list"
The current implementation has a requirement that the suggestions come from a function with a callback.

This approach works fine if you want to do your AJAX call inside your component, but if you want to just simply pass through a list of suggestions (which are being fetched outside of the function - such as in a Flux application architecture) then it is very difficult.

My first instinct was to

[2015-11-08 16:33] web2style commented on #85
Same question.

[2015-11-09 06:51] web2style commented on #84
@Diokuz According to controlled behavior, I should use input's `onChange` event to set state. But there's no `onChange` event in the autosuggest's API. How do you suppose to do it?

[2015-11-12 08:14] moroshko commented on #88
@idolize You are right. At the moment, we don't have good support for flux architecture. But, I already started to work on exactly that! Have a look at the [3.0 branch](https://github.com/moroshko/react-autosuggest/tree/3.0). It is a complete rewrite of react-autosuggest, which has a flux support out of the box. Check out [the redux examples](https://github.com/moroshko/react-autosuggest/tree/3.0/

[2015-11-12 08:14] #88 closed

[2015-11-12 08:18] moroshko commented on #85
Have you checked out the [Controlled Component example](https://github.com/moroshko/react-autosuggest/blob/master/examples/src/ControlledComponent/ControlledComponent.js)? Can you share some code/gist that demonstrates the issue?

[2015-11-12 08:23] web2style commented on #85
@moroshko I described my question in detail here: https://github.com/moroshko/react-autosuggest/issues/84#issuecomment-154967347

[2015-11-12 10:22] moroshko commented on #84
@spideynr Sorry, I'm afraid that I'm not familiar with Aurelia enough to help you. It feels weird to see a statement like `this.state;` in the constructor. In React, you'd normally set `this.state` to something. Also, if you do `.setState({ value: newValue })`, you should be doing `<Autosuggest value={this.state.value} ... />`. Maybe, someone with more Aurelia expertise would be able to provide yo

[2015-11-12 10:26] moroshko commented on #84
@web2style When the behaviour is uncontrolled, only user interaction can change the input value. It cannot be controlled programatically.

In a controlled component though, you can provide `inputAttributes.onChange` to Autosuggest. See [this example](https://github.com/moroshko/react-autosuggest/blob/master/examples/src/ControlledComponent/ControlledComponent.js#L83).

[2015-11-12 10:29] spideynr commented on #84
@moroshko Yeah you were right about ```this.state``` i completely removed it from the [gist](https://gist.github.com/spideynr/1f8ccd74f6f8342b37bb). I used ```this.value``` for the value prop in Autosuggest since this is the default variable i am passing from the Aurelia component.

Its still somewhat strange though as to why ```setState({value})``` doesn't work inside ```onSuggestionSelected``` a

[2015-11-12 10:40] moroshko commented on #84
@spideynr You shouldn't need `setTimeout`. I wonder if it has something to do with Aurelia. Any chance you could recreate the example outside of Aurelia, and reproduce the issue?

[2015-11-12 10:44] moroshko commented on #74
@emorozov Does deleting and reinstalling node_modules help? If not, please recreate a minimal reproducible example.

[2015-11-12 10:46] moroshko commented on #72
Closing due to inactivity.

[2015-11-12 10:46] #72 closed

[2015-11-12 10:46] moroshko commented on #62
Closing due to inactivity.

[2015-11-12 10:46] #62 closed

[2015-11-12 10:53] moroshko commented on #64
@acthp Unfortunately, this is not possible. You can provide multiple classes like that:

    theme={{ root: 'classA classB', ... }}

but there is not way to change that dynamically based on whether the autosuggest is open or not. The only indication you have is the `aria-expanded` attribute in the `<input>` itself, but this is probably not very helpful.

[2015-11-12 10:56] moroshko commented on #84
@spideynr You can use [this example](http://jsbin.com/lozacelanu/1/edit) as a starting point.

[2015-11-12 11:04] spideynr commented on #84
@moroshko i managed to reproduce the issue. I built a (plunker)[http://plnkr.co/edit/11Ms1eE1vKuqICu9UFHV?p=preview] . It does exactly the same. I bound ```component``` variable to ```getSuggestion``` context. When ```onSelect``` function runs ```component.setState({value:''}) does nothing, but if you defer it , it works.

[2015-11-12 11:30] moroshko commented on #53
@pathsny Sorry for the late reply. What you suggest sounds more than reasonable! Mind creating a PR?

[2015-11-12 11:36] moroshko commented on #84
@spideynr When suggestion is clicked, [`onSuggestionSelected` is called **before** the state is updated](https://github.com/moroshko/react-autosuggest/blob/master/src/Autosuggest.js#L444). Therefore, calling setState without setTimeout is ignored due to [this](https://github.com/moroshko/react-autosuggest/blob/master/src/Autosuggest.js#L450).

Can I ask what is your use case for clearing the value

[2015-11-12 11:39] moroshko commented on #67
@acthp The input element has `ref="input"`, so you should be able to access the input like that:

    <Autosuggest ref="autosuggest" ... />

and then:

    this.refs.autosuggest.refs.input

[2015-11-12 11:40] spideynr commented on #84
@moroshko i have a list of users on a form and when i select a user i automatically pass them to an array and want the input cleared so that more users can be searched/selected after. Kinda like a multi-select form.

[2015-11-12 11:45] moroshko commented on #66
Sorry for the late response. Can I ask what is the use case for determining when Enter was pressed?

@acthp As I mentioned [here](https://github.com/moroshko/react-autosuggest/issues/67#issuecomment-156080908), you could access the input via refs.

[2015-11-12 11:52] moroshko commented on #65
@acthp Sorry for the late response. I can see how the name `onSuggestionFocused` can be confusing. Naming aside, is there any functionality issue you are trying to demonstrate, or is it purely the name?

[2015-11-12 11:58] moroshko commented on #84
@spideynr I see. I think using setTimeout then makes sense, knowing that when suggestion is clicked, Autosuggest sets the input value (so if you want to override it - do it in the next tick).

[2015-11-12 12:44] emorozov commented on #74
@moroshko You can close the issue, it was a configuration error on our side that was indeed causing duplicate instances of React loaded. Sorry I didn't say that earlier.

[2015-11-12 19:54] #74 closed

[2015-11-13 01:00] idolize commented on #88
Awesome. @moroshko you are always one step ahead :stuck_out_tongue_winking_eye:

[2015-11-14 08:23] approots commented on #66
My use case - I needed to know when a value was submitted and I wasn't surrounding react-autosuggest with form tags. Without the form onSubmit event, I had no way to know if a value was submitted. I don't have a good answer as to why I didn't use form tags though :)

[2015-11-14 09:42] moroshko commented on #66
Closing this for now as using a form tag does the trick.

[2015-11-14 09:42] #66 closed

[2015-11-18 01:41] sheltonial commented on #74
@emorozov what was your configuration error? I'm trying to figure out a solution to this one and currently stuck.

[2015-11-18 04:37] sheltonial commented on #74
My issue ended up being around using `npm prune --production`. https://github.com/npm/npm/issues/10442

[2015-11-18 08:22] darrylivan opened #89 "Controlled example problem"
Great component!  I am having one issue however.  I need to clear the input after a user selects a suggestion so they can add another after that (much like your https://github.com/moroshko/react-autosuggest/issues/84#issuecomment-154967347 ).  However, when I add the value attribute to my Autosuggest , I get the dreaded first child error during load time:

Error in event handler for runtime.onMess

[2015-11-18 11:16] moroshko commented on #89
This error might mean that you have two instances of React. See [this](http://stackoverflow.com/a/29817920/247243).

To validate this theory, try to recreate the issue using a clean environment. You can use [this](http://jsbin.com/fojijazoxi/1/edit) as a starting point. I suspect that your example will work fine there.

Let us know how you go.

[2015-11-18 15:19] darrylivan commented on #89
unsurprisingly, you were correct.  There was an entire (extra) copy of react in an a minified file.  Thanks for your quick response!

[2015-11-18 23:41] #89 closed

[2015-11-19 07:11] #85 closed

[2015-11-19 07:12] moroshko commented on #71
As I mentioned above, flux architecture will be supported in 3.0.

[2015-11-19 07:12] #71 closed

[2015-11-19 07:13] #64 closed

[2015-11-19 07:14] #67 closed

[2015-11-19 07:14] #65 closed

[2015-11-20 01:33] suite22 opened #90 "Input setState different when onSuggestionSelected using keyboard or mouse"
My use case might be outside your intended plans for the component, but I want the input to reset to an empty string instead of displaying the selected suggestion. Within onSuggestionSelected I'm using
```this.setState({ value: "" }) ``` to reset the input to an empty string. However, that only works if I make the selection using the keyboard. If the user clicks the suggestion the input value rema

[2015-11-22 12:19] moroshko commented on #90
@suite22 Yep, current version has some issues with controlled behaviour. But, hold tight, version 3.0 is on its way. It will support nicely flux architecture (including redux), and you'll be able to differentiate between pressing Enter and mouse click in `onSuggestionSelected`. I plan to release it in the next couple of weeks.

[2015-11-22 17:04] suite22 commented on #90
Awesome! Sounds great. Thanks!

[2015-11-22 20:02] #90 closed

[2015-11-30 15:39] janusch opened #92 "publish v3 to npm?"
Hey,
thank you for this excellent react component!

I would really like to include v3 in my project, also because of the redux integration, do you think it is ready for prime time?

Would you mind putting it up on npm?

Keep up the great work!

[2015-12-02 09:36] moroshko commented on #92
Hey @janusch, 3.0 is almost there! I still have to finish the docs and examples, but the API is pretty stable. I plan to publish 3.0-alpha on npm in a week or two, but for now I'd encourage you to install the 3.0 branch from GitHub. I'm really interested to get any feedback you have on using 3.0, even if "it just works". Let me know how you go.

[2015-12-02 10:17] janusch commented on #92
Hey,
that is exciting news, looking forward to the alpha.
I got a bit stuck tring to use 3.0 from github, actually just because I could not find the related css files and did not have a less preprocessor. Would it be possible to add a dist version in the 3.0 branch, so that I can just drop the component in following your instructions of the readme.

It is also possible that I approached it the wro

[2015-12-02 11:51] moroshko commented on #92
I just added `dist/` to 3.0. Try to follow the [readme](https://github.com/moroshko/react-autosuggest/blob/3.0/README.md) and let me know where you are stuck. What do you use to style the Autosuggest? CSS Modules? Global classes? Inline styles? Something else?

[2015-12-02 12:18] janusch commented on #92
I am right now just using an ordinary css stylesheet. Was thinking of switching to sass soon.
Don't you think the best way to publish a reusable react-component would be to package the styles with auto-suggest? Maybe a default theme, or even some themes to choose from and the option to roll ones own?

Maybe the first line makes perfect sensein the dist file, just wondering: `var _reactTransformHmr

[2015-12-02 12:35] moroshko commented on #92
@janusch Sorry, `dist/` is broken at the moment. My brain is not working, it's too late here. I'll fix that tomorrow.

I intentionally didn't include CSS in the component. Autosuggest is all about the mechanics of the accessible interaction, and it has no opinion about how it looks. You can see [here](https://github.com/moroshko/react-autosuggest/blob/3.0/demo/src/components/theme.less) an example

[2015-12-02 12:42] janusch commented on #92
Ok, no problem, I can wait until tomorrow.

Thanks for the pointers to styling it, I might give ccs modules a try or go with your hints for global styles.

[2015-12-03 11:09] moroshko commented on #92
@janusch Try now, and let me know how you go.

[2015-12-03 12:02] janusch commented on #92
Cool, thank you, i'll give it a go!

[2015-12-03 14:51] janusch commented on #92
Hey @moroshko ,
I must confess that I did not succeed completely.
The autosuggest displays fine and shows some sample suggestions that I used from the example. Sometimes I get an error: Cannot trim value of undefined. I cannot yet select something from the list and it would replace the old value.
When I tried to add a suggestions reducer i get some weird error in the whole app, probably the wrong

[2015-12-04 10:55] ihsansatriawan opened #93 "Can't update state with Immutable.js"
I have build react+redux+immutable.js

i'm done change state with event `onChange` ...but i need autocomplete..so use your module...but when i tried to integration with my apps. state can't update,,,

[2015-12-05 00:21] moroshko commented on #93
@ihsansatriawan Could you please provide a repo that demonstrates the issue, and steps to reproduce?

[2015-12-06 11:08] moroshko commented on #92
Hey @janusch,

Autosuggest uses redux internally to manage its state, but you shouldn't care about this, it's just an implementation detail.

I updated the Basic Usage example, but note that it doesn't use redux. To see how to connect Autosuggest to a conventional redux app, check out the examples [here](https://github.com/moroshko/react-autosuggest/tree/3.0/demo/src/components/App/components) (al

[2015-12-07 13:53] janusch commented on #92
Hey @moroshko,
thank your for your reply, it clarifies a lot of things for me!
I am going to give it another go very soon, I am just tied up with some other things that need to get done first.

I'll get back also with input on places where I am still stuck.

[2015-12-08 04:24] #93 closed

[2015-12-10 13:23] janusch commented on #92
Hey @moroshko ,
Just a short summary of how far i have gotten so far:
1. of all, I do really like the documentation, great work!
2. in my onChange callback `onChange: (event, { newValue, method }) => {}` newValue is always undefined. So I am not yet able to set a new value into the input.
3. the list displays, I just miss the styling. You could consider to make the basic theme available in css, fo

[2015-12-10 13:28] lxanders commented on #92
First of all: Thanks for your work @moroshko!

As the "old" version is not working very well with Flux (we are currently using fluxible by yahoo) I wanted to try version 3. Unfortunately I'm getting this error in the browser and the component does not render:

[code]

I'm testing a very simple use case with static suggestions:

[code]

I'm using the latest version of 3.0 that I could find. This wa

[2015-12-10 13:31] janusch commented on #92
Oh, one more thing, I might have misunderstood,
I do the async getSuggestions function call in the onChange handler, because I am not sure where else to do it. This leads to every time when a different list item is selected, not picked yet, that my getSuggestions function fires, making another async request. Is that because of taking the maybe out of the maybe reducer case? Where else should the g

[2015-12-11 06:30] moroshko commented on #92
@janusch Could you share some code so that I could see your setup? It's hard to guess why `newValue` is `undefined` without seeing some code.

I'll think about adding a plain CSS to the examples. I hope it doesn't block you for now.

I'm not sure what you mean by this:

Please share some code and rephrase the issue.

`inputProps.value` always represents the value of the input. This means that to s

[2015-12-11 07:29] moroshko commented on #92
@lxanders Have you tried to follow the [Basic Usage example](https://github.com/moroshko/react-autosuggest/tree/3.0#basic-usage)? Could you please open a new issue and share your code there?

[2015-12-11 12:02] lxanders opened #96 "Rendering in 3.0 development branch causes dependency problems in webpack"
I'm currently testing the 3.0 development branch on [commit 8934f12d32d05da464e27071d6df143957389001](https://github.com/moroshko/react-autosuggest/commit/8934f12d32d05da464e27071d6df143957389001), installing it by defining this in my dependency definitions in `package.json`: `"react-autosuggest": "moroshko/react-autosuggest#8934f12d32d05da464e27071d6df143957389001",`.

I'm getting this error in m

[2015-12-11 23:22] moroshko commented on #96
@lxanders The error says that it cannot find `react-redux` and `react-autowhatever`. These two are indeed dependencies of `react-autosuggest`, and [they are listed in `package.json`](https://github.com/moroshko/react-autosuggest/blob/3.0/package.json#L24-L25).

Which `npm` version do you use?

Could you try to delete `node_modules`, then `npm install` again and see if it helps?

If it doesn't, cou

[2015-12-12 12:59] lxanders commented on #96
@moroshko Yes, this is somewhat strange. I did all the typical stuff as deleting the `node_modules`, reinstalling them, installing twice and `npm cache clean`. I'm currently using npm version 3.3.12 and node 5.1.1.

I will try to create a minimal example (that unfortunately won't be very small as fluxible requires a bit more in terms of files and configuration than a simple client side rendered re

[2015-12-12 13:49] lxanders commented on #96
I'm sorry that I bothered you with this. I really don't know why (until now) but it seems the problem is gone (without changing my code or the used version of your component). For now I will close this and ask new questions if they come up. Thanks!

[2015-12-12 13:49] #96 closed

[2015-12-12 22:10] moroshko commented on #96
@lxanders Glad to hear you are not blocked anymore :)

[2015-12-13 01:52] approots commented on #61
I'd like to clear the autosuggest input after a selection is made (using controlled behaviour), but I'm unable to do it cleanly.

My `onChange` handler works in the usual way - it always resets the autosuggest `value` property which obviously updates the autosuggest input. So the problem is, if I set the value property to an empty string in the `onSuggestionSelected` handler, the `onChange` handle

[2015-12-13 02:28] moroshko commented on #61
@approots I'm afraid using `setTimeout` is the best you can do in 2.x.

I'd encourage you to upgrade to 3.0. It has a much greater control on the component.
You'll have to install it from GitHub at this stage:

    "react-autosuggest": "moroshko/react-autosuggest#3.0"

I hope to release a beta version in the next week or so.

The [3.0 docs](https://github.com/moroshko/react-autosuggest/blob/3.0/RE

[2015-12-13 02:38] approots commented on #61
Ok. Thanks!

[2015-12-15 22:58] liamgallivan opened #97 "submitting input without selecting from dropdown."
Hello @moroshko , I have been trying to use this component in my own app and need a way for the user to submit without selecting one of the autosuggest choice( ie type in their text, press enter without selecting an autosuggest choice, and then my own function handling the event). Is there a way to do this already that I haven't noticed? If not I can easily submit a PR to handle this functionality

[2015-12-15 23:40] liamgallivan commented on #97
Nevermind found this: https://github.com/moroshko/react-autosuggest/issues/66 fix.

[2015-12-15 23:40] #97 closed

[2015-12-17 16:53] Mr-Wallet opened #99 "Acquisition of 'Controlled Component' status is unclear"
Just spent some time wrestling with my Autosuggest component not responding to changes to the `value` prop. It wasn't until I dug into the source that I found out about the `isControlledComponent` property and that it's only set at component construction. The issue was that I was constructing without a value and only defining the value once the user interacted with it or I needed to respond to som

[2015-12-18 09:55] kromit opened #100 "onChange is fired when the value is changed by higher order component"
`onChange` should only be fired when the `value` of the component was changed, but not if the `props.value` given from the higher order component was changed. Since the component is controlled, there should be no state to be changed or at least the state has to be resetted when new props are incoming.

[2015-12-18 10:17] kromit commented on #99
Setting `props.value` as undefined or null variable during construction should also be possible. Currently i am forced to set `value=""` if i want the component to be controlled.

Also #100 prevents the component to be controlled.

[2015-12-22 05:51] moroshko commented on #96
@lxanders Just wanted to let you know that 3.0 alpha version is available on npm:

    npm install react-autosuggest@3.0.0-alpha.1 --save

[2015-12-22 05:53] moroshko commented on #92
Just wanted to let you know that 3.0 alpha version is available on npm:

    npm install react-autosuggest@3.0.0-alpha.1 --save

[2015-12-22 05:53] #92 closed

[2015-12-22 05:55] moroshko commented on #58
@DERIIIFranz  Just wanted to let you know that 3.0 alpha version is available on npm:

    npm install react-autosuggest@3.0.0-alpha.1 --save

[2015-12-22 05:56] moroshko commented on #90
@suite22 Just wanted to let you know that 3.0 alpha version is available on npm:

    npm install react-autosuggest@3.0.0-alpha.1 --save

[2015-12-22 05:57] moroshko commented on #88
@idolize Just wanted to let you know that 3.0 alpha version is available on npm:

    npm install react-autosuggest@3.0.0-alpha.1 --save

[2015-12-22 05:57] moroshko commented on #61
@approots Just wanted to let you know that 3.0 alpha version is available on npm:

    npm install react-autosuggest@3.0.0-alpha.1 --save

[2015-12-22 05:58] moroshko commented on #71
@matthewmueller @ksmth Just wanted to let you know that 3.0 alpha version is available on npm:

    npm install react-autosuggest@3.0.0-alpha.1 --save

[2015-12-22 05:59] moroshko commented on #57
@DERIIIFranz Just wanted to let you know that 3.0 alpha version is available on npm:

    npm install react-autosuggest@3.0.0-alpha.1 --save

[2015-12-22 06:00] moroshko commented on #27
Just wanted to let you know that 3.0 alpha version is available on npm:

    npm install react-autosuggest@3.0.0-alpha.1 --save

[2015-12-22 09:48] janusch commented on #92
Super!
Thank you for your patience and the great feedback!

Merry Christmas

[2015-12-22 11:59] lxanders commented on #96
Very cool :+1: :beer:! Thanks for your work!

[2015-12-24 00:28] suite22 commented on #90
Great! Thanks @moroshko

[2015-12-27 06:24] moroshko commented on #100
@kromit I think this is fixed in 3.0. Have a look at this [example](http://codepen.io/moroshko/pen/BjLqXe), and let me know if you think that it still doesn't behave as expected.

[2015-12-27 06:26] moroshko commented on #99
@Mr-Wallet 3.0 shouldn't have this issue. Let me know if this is not the case.

    npm install react-autosuggest@3.0-latest --save

[2015-12-27 06:26] #99 closed

[2015-12-27 06:40] moroshko commented on #84
@spideynr Just wanted to let you know that in 3.0 you don't need `setTimeout`. See [this example](http://codepen.io/moroshko/pen/WrGYbN).

    npm install react-autosuggest@3.0-latest --save

[2015-12-27 06:40] #84 closed

[2015-12-27 06:50] moroshko commented on #53
@pathsny This should be solved in 3.0. Check out [this example](http://codepen.io/moroshko/pen/obzQXd).

    npm install react-autosuggest@3.0-latest --save

[2015-12-27 06:50] #53 closed

[2015-12-27 06:53] moroshko commented on #76
@loopmode In 3.0, debounce is not part of react-autosuggest anymore. Check out [this example](https://github.com/moroshko/react-autosuggest/tree/3.0/demo/src/components/App/components/DebouncedExample) to see how to implement debouncing.

    npm install react-autosuggest@3.0-latest --save

[2015-12-27 06:53] #76 closed

[2015-12-28 11:45] ragebiswas opened #101 "Selecting multiple items?"
Hi,
 This component is wonderful and very cleanly designed! I'd like to know if there's a way I can use this component for selecting multiple comma separated items. Is this possible with the current set of options supported?

[2015-12-28 12:28] moroshko commented on #101
@ragebiswas Thanks!

Nope, I don't see a way to have a comma separated list. The component is designed to have a single value. You could, however, implement something like this:

* User selects an item from the autosuggest
* On selection, add the selected item to a list that is maintained outside of the autosuggest
* After item is selected, clear the input, so that user could add another item to t

[2015-12-28 16:11] ragebiswas commented on #101
Thanks for the reply @moroshko. I'll give it a shot :)

[2015-12-28 20:44] #101 closed

[2015-12-30 04:19] #100 closed

[2016-01-05 12:25] moroshko commented on #78
@jlc467 Thanks for submitting the issue, and sorry for getting back to you only now. I was busy with the 3.0 release, which comes with the brand new website. I assume we can close this issue.

http://react-autosuggest.js.org/

[2016-01-05 12:25] #78 closed

[2016-01-05 12:26] moroshko commented on #46
@Mark-L6n I just released 3.0, which comes with a brand new website. I assume we can close this issue now.

http://react-autosuggest.js.org/

[2016-01-05 12:26] #46 closed

[2016-01-05 22:43] pjsinco opened #102 "Hinting in the form input"
Thank you for this great component. I'm off to a good start with it.

A nice feature would be hinting within the input:

![Hinting](http://i.imgur.com/E7O1y98.png)

I would be interested in a DIY version if anyone has implemented this feature already.

[2016-01-05 23:18] 01taylop commented on #102
A quick and dirty solution would be to give your input a transparent background and absolutely position a div behind it using some basic JavaScript to put in the first or highlighted item. With the correct top and left padding, font size and colour it could look quite good. I might experiment tomorrow.

[2016-01-06 13:27] ntgn81 commented on #64
Sorry for digging this up. But it can actually be done with the current theming options. Having `.open` class on the parent `.dropdown` container will also open the `.dropdown-menu`.

I cloned the `Basic` sample on Codepen and added bootstrap stuff, [working sample on codepen](http://codepen.io/ntgn81/pen/MKpQPL)

The main changes are to provide theme object as @moroshko provided, and ovewrite `re

[2016-01-06 15:05] pjsinco commented on #102
Thank you—I will give that whirl.

[2016-01-07 11:04] moroshko commented on #102
@pjsinco What you ask is basically [`aria-autocomplete="both"`](http://www.w3.org/TR/wai-aria/states_and_properties#aria-autocomplete).

I just checked how Google Drive implemented this behaviour, and it looks like they are using another input element that sits behind the main input and contains the hint text, which is very similar to what @01taylop suggested.

Another possible approach is to use

[2016-01-13 21:33] damassi opened #103 "Simplify Example in README"
It would be nice if the beginning example that you laid out in the README were greatly simplified. Arriving at your page, there is a good amount of code to read through in order to express something that is fairly basic, and it seems like you could be losing users due to this fact. Something like

[code]

would get beginners over the line much quicker than having to see regexs and so on right at t

[2016-01-14 06:14] tc opened #104 "How to clear input text box in onSuggestionSelected?"
I want to clear the input field after a user selects.

I tried both using a refs value and setting the state:
[code]
See http://codepen.io/tommychheng/pen/Vezdoo for example.

Any ideas?

[2016-01-14 10:40] moroshko commented on #104
@tc You shouldn't need `refs` with Autosuggest. The reason `this.setState({ value: '' });` doesn't seem to clear the input is because after `onChange` is fired immediately after `onSuggestionSelected`, causing the value to be set to the selected value.

You can achieve what you want by getting rid of `onSuggestionSelected` and clearing the value in `onChange` instead using `method`:

    onChange(

[2016-01-14 10:40] #104 closed

[2016-01-14 16:34] puspa opened #105 "Ability to show suggestion only when input value changes without needing to maintain state outside of auto-suggest itself"
The callback to method "showWhen" doesn't provide enough context like previous value. "showWhen" method thus can't make the call to show suggestions without maintaining its own state of last input value, which is less desirable. As "onInputFocus" also triggers the check, it can result in one extra n/w hop if the value is pre-populated as part of props.

Is there certain approach we can take to han

[2016-01-14 16:36] tc commented on #104
thanks!

[2016-01-15 09:59] moroshko commented on #103
@damassi Thanks for your feedback!

Since Autosuggest is a controlled component, you need to specify at least `value`, `onChange`, and of source `suggestions`. I agree that regex should not present in the Basic Usage example.
I'll think about creating a higher order component (that will use the Autosuggest component) with minimal mandatory props, something along the lines of what you suggested.

S

[2016-01-15 09:59] #103 closed

[2016-01-15 10:03] moroshko commented on #105
@puspa Could you please describe your use case, so that I could understand why do you need the previous value?

[2016-01-15 10:52] moroshko commented on #104
@tc Note that starting from version 3.3.2, `onSuggestionSelected` is fired after `onChange`, which allows you to clear the input on selection like this:

    onSuggestionSelected() {
      this.setState({
        value: ''
      });
    }

[Codepen](http://codepen.io/moroshko/pen/JGrGgy)

[2016-01-15 14:32] puspa commented on #105
Thank you for prompt reply. Following is my use case.
1. Autosuggest starts with pre-populated value.
2. When user clicks on the autosuggest "onInputFocus" gets fired which eventually calls "showWhen".
3. " showWhen" at this point sees pre-populated value as valid user input and returns true. Which causes it to make a n/w request to get suggestions for the pre-populated value. This is not desirabl

[2016-01-15 14:51] puspa opened #106 "Feature request - support clearing the text on input focus"
When user needs to change the value (pre-populated or previously selected) user has to delete existing text first. This is not ideal especially in mobile experience.

If this can support clearing text when user focuses on input and restore old value on blur if user doesn't make change, that will be ideal.

[2016-01-15 16:44] jsheetzati opened #107 "Clear input when suggestion is selected"
Hi,

I am looking at your CodePen http://codepen.io/anon/pen/gPGLoN for clearing the input when a suggestion is selected.  I see that the functionality works in the example but having difficulty implementing in my app.

When I watch it in the debugger, I see my OnSuggestionSelected is called setting the input to blank. However, after that event is triggered, my onChange event is triggered setting

[2016-01-15 18:22] tc commented on #104
great thanks!

On Fri, Jan 15, 2016 at 2:53 AM Misha Moroshko <notifications@github.com>
wrote:

[2016-01-15 18:44] jsheetzati commented on #107
Just updated to 3.3.2, and it looks like everything is working now!  Thanks!

[2016-01-15 18:44] #107 closed

[2016-01-15 19:31] mikhail-riabokon opened #108 "Feature request: Write best suggestion without end of typing"
Thank you for this autosuggest package. It is really helped my with my current task. But I have one feature request which I would like to suggest.
For example you have next list of values:
* Food
* Facebook
* Ford

User types ```F```: All thee field are shown and input field already filled in background and can looks like [this](https://jsfiddle.net/Ly4k9j4n/1/).
User type ```Fo```: Ford and Food

[2016-01-16 06:21] moroshko commented on #106
@puspa You can press ESC to clear the field. You can also add `type="search"` to the input field to have a clear button. If that's not good enough, you could try and implement the desired behaviour yourself by hooking into input's `onFocus`. I don't think that the behaviour that you are describing is a common practice, so adding a special prop doesn't seem appropriate in this case. If you still st

[2016-01-16 06:21] #106 closed

[2016-01-16 06:30] moroshko commented on #108
@mikhail-riabokon Thanks for the jsfiddle! This is a duplicate of #102. Please join the discussion there.

[2016-01-16 06:30] #108 closed

[2016-01-16 06:45] moroshko commented on #105
@puspa Looks like you are using react-autosuggest 2.x.

react-autosuggest 3.x has a better API, and I believe it will be easier to achieve what you want if you use 3.x.

Could you please create a Codepen that demonstrates your issue? You can start from [this Codepen](http://codepen.io/moroshko/pen/EPZpev) (it uses 3.3.2).

[2016-01-17 00:20] moroshko commented on #63
@approots I'm glad you found a way to implement disabled suggestions. If you could post a link to the website you are working on, that would be great. I'd be interested to see the end result.

Looks like at this point there is not enough interest from the community to implement disabled options in react-autosuggest. As a maintainer, sometimes I need to make hard calls and decide not to implement a

[2016-01-17 00:20] #63 closed

[2016-01-17 15:48] ibhub opened #109 "In IE 11 do not hide suggests after select"
Steps to reproduce:
1. Open http://react-autosuggest.js.org/
2. Type "c" in Basic suggestion input
3. Select "c#" for example (mouse click only)
4. See issue: "c#" in suggestion don't hide

[2016-01-19 16:35] sconnelley opened #110 "Fails in IE10"
First of all, your component is great. I noticed though it fails in IE10 with this error:
[code]

Seems like `this.props` is `undefined` [here](https://github.com/moroshko/react-autosuggest/blob/master/src/AutosuggestContainer.js#L106).

[2016-01-19 21:54] hughlomas commented on #21
@moroshko Heya, I noticed in the upgrade guide (https://github.com/moroshko/react-autosuggest/blob/b903c628bc18abb6186701edf284a26ec2ba0999/UPGRADE_GUIDE.md) it says `scrollBar` isn't supported right now for 3.x, any ETA?

[2016-01-20 12:07] moroshko commented on #21
@hughlomas Implementing `scrollBar` in 3.0 is a bit different, as 3.0 relies on [react-autowhatever](http://react-autowhatever.js.org/) as its rendering layer. I'm quite busy in the next few weeks, but hope to get to it once I have a bit more time. You are always welcome to help!

[2016-01-21 09:55] #110 closed

[2016-01-21 10:21] moroshko commented on #110
@sconnelley @cheapsteak Could you confirm please that the error has gone in IE10?

[2016-01-21 16:13] sconnelley commented on #110
yes no errors.  FYI...I was also able to get it to work also by loading a `getPrototypeOf` polyfill.

[2016-01-21 19:46] moroshko commented on #110
@sconnelley Thanks!

[2016-01-21 20:27] MrLeebo opened #112 "How to use Autosuggest inside a scrollable container without the suggestions expanding the container?"
Hello there!

If I have an Autosuggest inside a container with a `max-height` and `overflow-y: scroll`, how can I prevent the suggestions container from expanding the scrollable container?

Via the theme, I tried setting `position: absolute` on `suggestionsContainer`, but it had no effect. Putting `position: absolute` on `container` causes the input textbox to become absolute too.

Here's a CodePe

[2016-01-25 16:46] istarkov opened #113 "Method if no suggestion selected"
Sometimes we need to make some additional work on result if no suggestion was selected.
For example: suggestion engine did not find anything, but user entered some string and pressed enter.
(_for such situation I can execute more powerful search engine than autocomplete_)

The problem that simply intercepting just `onBlur` and `onKeyDown(ENTER_PRESSED)` is not enough, I need to be sure that `onSug

[2016-01-26 10:39] moroshko commented on #113
@istarkov You can achieve this by wrapping the Autosuggest with a `form`, and running the "powerful search engine" in its `onSubmit`. Have a look at this [Codepen](http://codepen.io/moroshko/pen/xZWXJZ?editors=0110).

[2016-01-26 11:01] istarkov commented on #113
Wow!!! Super!! Thank you!

[2016-01-26 11:01] #113 closed

[2016-01-27 11:06] andreychev opened #114 "How i can add `ref` for input element?"
![http://img.parcsis.net/i/14a366604513ce7b4d30963872f7ffdf.png](http://img.parcsis.net/i/14a366604513ce7b4d30963872f7ffdf.png)

In 2.x version, i could have written something like this: `ReactDOM.findDOMNode(this.refs.input).select();`.

[2016-01-27 12:46] moroshko commented on #114
@andreychev Starting from version 3.4.0, the input is accessible on Autosuggest instance, so you can do:

    <Autosuggest ref={autosuggest => autosuggest.input.select()} ... />

[2016-01-27 12:46] #114 closed

[2016-01-27 13:10] andreychev commented on #114
@moroshko :+1:

[2016-01-27 18:56] KyleAMathews opened #115 "Hot load theming"
Is there something special I have to get this to work? I'm passing inline styles in but I'm only seeing changes after a hard-reload.

[2016-01-28 00:18] BigPrimeNumbers opened #116 "Possible to get the id of an Autosuggest Container"
Hi there,
  Is it possible to get the id of an autosuggest container that is calling a function? For instance, I have multiple autosuggest containers on a page, and would like to have just one version of each function (e.g. onSuggestionsUpdateRequested, etc.) that have logic within them to act accordingly (set the appropriate property in state, etc) by checking which autocorrect container is invok

[2016-01-28 10:14] moroshko commented on #116
@BigPrimeNumbers Could you please provide a real world use case for this, with a  code example (use [this example](http://codepen.io/moroshko/pen/LGNJMy) as a starting point)? I'd like to better understand your motivation.

[2016-01-28 10:22] moroshko commented on #115
@KyleAMathews I haven't tried hot reloading yet, but I wonder if it's related to [react-themeable](https://github.com/markdalgleish/react-themeable). cc @markdalgleish

Any chance you could provide a repo that demonstrates the issue?

[2016-01-28 10:24] moroshko commented on #105
No activity, closing for now.

[2016-01-28 10:24] #105 closed

[2016-01-28 13:14] Ezekiah opened #117 "trying to implement bootstrap feedback feature"
Hello, I Try to implement the feedback bootstrap feature like this:

[code]

To do this I added the icon "success" or "error" in the componentDidMount :

[code]

This is working but when I try to use the auto suggest the list appears, I click on one suggestion and the input is well filled but the list doesnt disappear, it stays on the screen even if I put my mouse outside.

Do you know why ?

My g

[2016-01-28 20:14] phkavitha opened #118 "How to trigger onSuggestionsUpdateRequested during focusIn and focusOut"
I want to update the suggestions when the user clicks on the input text box. How can I do it? And also, I found that the onSuggestionsUpdateRequested is not getting triggered during focusOut or blur.

  For my app, I need to list multiple autocomplete components in one single page and suggestions for each of the autocomplete component are the same. It's like a mapping screen where item in the left

[2016-01-28 20:15] BigPrimeNumbers commented on #116
I'm trying to build a form that has multiple autocomplete inputs. Instead of having multiple similar functions such as _onSuggestionsUpdateRequested_ and _getSuggestionValue_ for each container, I was attempting to insert logic into a single version of these functions that could determine which container was calling the function.

My (pseudo-ish) code is here: [](http://codepen.io/BigPrimeNumbers/

[2016-01-28 23:49] BigPrimeNumbers commented on #116
Incidentally, I have a couple of other questions:

1. How would one get multiple Autosuggest components on the same line? They all seem to render as divs, and so they appear underneath each other as opposed to side-by-side.
2. How would one use Autosuggest with forms? I'd like to use this in conjunction with a custom form component that includes validation, such as [tcomb-form](https://github.com/

[2016-01-29 10:13] ThibWeb opened #119 "Breaking API change on minor version"
First of all thanks for writing this component, it works very well and is very accessible.

While developing my project I noticed that my autocompletion code broke between two `npm install` – namely the `onSuggestionUpdateRequested` callback. The reason is quite simple: an API change was introduced in https://github.com/moroshko/react-autosuggest/commit/ef0934bea7429aea3e5b85bb53b05825f16daebf.

I

[2016-01-29 10:34] moroshko commented on #119
@ThibWeb Thanks for this issue. I completely agree, and aware of semver. I was hoping that no one will be affected by this "short lived breaking change". This is a good lesson for me :) I'll try to do a better job in the future following semver.

[2016-01-29 10:34] #119 closed

[2016-01-29 12:28] ThibWeb commented on #119
:+1: it didn't cause much harm in the end, I figured it out quite quickly.

Thank you for your work!

[2016-01-30 10:03] moroshko commented on #116
@BigPrimeNumbers I can't see a clear benefit of doing what you are trying to do. I'd just create 2 separate components: FirstNameAutosuggest and LastNameAutosuggest. They could still share some common logic if you need:

[code]
I think it's much easier to reason about your app this way rather than having one component that is doing everything.

To have 2 Autosuggests side by side just give contain

[2016-01-30 10:42] moroshko commented on #118
Sounds like you are sharing state between components, which is probably not what you want to do. Every Autosuggest should have its own suggestions in redux state.

You can always provide `onFocus` and/or `onBlur` to `inputProps`, but I'm not sure you need it in your case. Could you create a Codepen that demonstrates the issue based on one of [these examples](http://codepen.io/collection/DkkYaQ/),

[2016-01-30 10:48] moroshko commented on #117
Could you please a Codepen based on one of [these examples](http://codepen.io/collection/DkkYaQ/) that demonstrates the issue?

[2016-02-01 06:36] PAK90 opened #120 "Accessing the 'input' and 'list' components of Autosuggest for inline styling and Velocity animation?"
First off, thanks for this plugin. I tried rolling my own autocomplete (with ```input``` and a ```ul``` containing a bunch of ```li```), and it's tough stuff. I'm trying to get a few features from my attempt across to the Autosuggest code, but it's all wrapped neatly inside the <Autosuggest> component so I'm not sure how/if I can access it.

In my implementation, the result list items animated in

[2016-02-01 10:22] moroshko commented on #120
@PAK90 To style the input using inline styles, you'll have to provide `theme` to Autosuggest:
[code]
This means that you'll need to translate all your Autosuggest styles from pure CSS to inline styles (and put them in the `theme` prop). See [docs](https://github.com/moroshko/react-autosuggest#theme-optional) for the various keys `theme` could have.

Adding `VelocityTransitionGroup` around suggesti

[2016-02-01 10:24] moroshko commented on #102
At the moment, I feel like adding the hint behaviour will introduce a significant overhead to the component. Until anyone can prove I'm wrong, and suggest a reasonable implementation, I'm closing this issue.

[2016-02-01 10:24] #102 closed

[2016-02-01 16:03] PAK90 commented on #120
So I could do something like:
[code]
where I've previously defined ```borderStyle``` and then I'd pass ```theme``` to Autosuggest?

Yeah, wrapping the whole ```suggestionsContainer``` or the individual list of ```suggestions``` I think would do the trick.

[2016-02-01 21:48] BigPrimeNumbers commented on #116
Okay thanks for the input; it'll make the code slightly more verbose, but I'll work around it.
As for integration into a 3rd party component, I'm specifically trying to use [tcomb-form](https://github.com/gcanti/tcomb-form/blob/master/GUIDE.md#customizations). I can't seem to get the two to play nicely, so any thoughts you'd have for getting the two cooperating would be great (the component suppor

[2016-02-03 05:24] Pierrebleroux opened #121 "Move cursor to the end of the input during onFocus={true}"
I am currently using the onFocus={true} on my inputProps for this component, how can I go about setting the cursor to the end of the auto-suggest input?

It is currently focusing on the input of the autosuggest component once the component has been added to the DOM, but it is placing the cursor at the start of the input.

[2016-02-04 10:39] moroshko commented on #121
To get the input field see [this example](http://codepen.io/moroshko/pen/WryOMP). Then, use `inputProps.onFocus` to move the cursor to the end. [This](http://stackoverflow.com/a/19568146/247243) StackOverflow question may help. Closing this issue as it seems more like a generic Javascript question than a react-autosuggest question.

[2016-02-04 10:39] #121 closed

[2016-02-04 10:45] moroshko commented on #120
When exactly do you want to update it? Is it based on user interaction?

Is wrapping the whole `Autosuggest` with `VelocityTransitionGroup` (like in your example above) works for you? (at the moment, there is no way to wrap only the suggestions)

[2016-02-04 10:49] moroshko commented on #116
Sorry, I probably can't help you with tcomb-form integration unless you have a more specific question / non-working runnable example.

[2016-02-04 10:49] #116 closed

[2016-02-04 10:56] moroshko commented on #112
Good question :)
[I tried to help](http://stackoverflow.com/q/35007733/247243) by checking how this can be achieved outside of react-autosuggest, but no luck.
I feel like it's a generic CSS question, not a react-autosuggest specific issue.
If you find a solution outside of react-autosuggest context, please share and we'll revisit this again. Closing for now.

[2016-02-04 10:56] #112 closed

[2016-02-04 10:57] moroshko commented on #117
No activity. Closing for now.

[2016-02-04 10:57] #117 closed

[2016-02-04 15:31] MrLeebo commented on #112
@moroshko Thanks for the effort! :) I ended up using jquery-ui's position method to set the position of the menu, which is a somewhat serviceable hack for the time being. Only drawback is that it goes out of alignment if the user scrolls the window while the menu is visible.

Here is an example Gist of my Typeahead control using react-autosuggest with the props slightly reworked to play better wit

[2016-02-04 15:36] PAK90 commented on #120
Yes, it's based on user interaction. When the user selects an item from the suggestion list certain properties of that item should be reflected in the colour of the input border.

Wrapping the whole Autosuggest didn't work, unfortunately. Another way to use Velocity transitions is directly on the elements, so is there a way of defining a suggestion's onEnter and onLeave?

[2016-02-05 08:32] moroshko commented on #120
Try wrapping a single suggestion in your [`renderSuggestion`](https://github.com/moroshko/react-autosuggest#renderSuggestionProp) function.

Regarding the `theme` issue, could you create a Codepen that demonstrates the issue based on one of [these Codepens](http://codepen.io/collection/DkkYaQ)?

[2016-02-05 16:35] PAK90 commented on #120
I'll try the wrapping in that function when I get back to my code, but I see what you're getting at and I think/hope it'll work.

I mangled your codepen [to create an example](http://codepen.io/anon/pen/vLVXZe?editors=0110). I'm passing the default input theme to ```theme``` except that the border's colour is a variable, which works when I first load it. I made a button to change that variable's v

[2016-02-05 23:13] BigPrimeNumbers commented on #116
No problem at all. I've got it figured out; if anyone else needs help with this particular setup, feel free to contact me. Thanks for doing what you could with this one!

[2016-02-07 23:31] moroshko commented on #120
@PAK90 To get the input element, you can use Autosuggest's `ref`. No need to grab it by class name (`react-autosuggest__container`). See [this example](http://codepen.io/moroshko/pen/WryOMP).

Currently, there is no API to pass props to `<li>`s. If you could pass props to `<li>`s, would that solve the problem, or you actually have to wrap the `<li>`s with `VelocityComponent`?
`<li>`s are getting p

[2016-02-09 02:30] jbasrai opened #122 "Render suggestions on first focus"
I'd like to show suggestions when the input is focused for the first time.  If I define

[code]

, suggestions are only displayed after the input value is first changed.  If this is intended, then is there a solution to force a paint bound to the `onFocus` event?

[2016-02-09 05:07] moroshko commented on #122
@jbasrai Make sure that the function that calculates the suggestions returns a non-empty list of suggestions when the input value is blank.
If it doesn't help, could you create please a Codepen that demonstrates the issue?

[2016-02-09 06:42] jbasrai commented on #122
My mistake, the suggestions weren't being populated until the later.  Thanks for the insight!

[2016-02-09 06:42] #122 closed

[2016-02-10 19:54] hughlomas commented on #58
@moroshko Heya, is this possible yet? I am using 3.0.0.

[2016-02-11 09:56] moroshko commented on #58
@hughlomas It's not built-in, but you can easily [implement this yourself](http://codepen.io/moroshko/pen/wMRmmM).

[2016-02-12 10:24] #120 closed

[2016-02-12 10:25] moroshko commented on #118
No activity. Closing.

[2016-02-12 10:25] #118 closed

[2016-02-12 10:25] moroshko commented on #115
Closing for now.

[2016-02-12 10:25] #115 closed

[2016-02-12 22:26] hughlomas commented on #58
@moroshko Thank you for the example, that worked nicely.

[2016-02-15 11:20] moroshko commented on #120
@PAK90 Just wanted to let you know that the `theme` issue not being updated dynamically was resolved in 3.5.0.

[2016-02-15 11:21] moroshko commented on #115
@KyleAMathews This should be resolved in 3.5.0

[2016-02-16 09:26] sapegin opened #123 "Add changelog"
Because [it’s important](http://keepachangelog.com/).

[2016-02-16 10:05] moroshko commented on #123
Thanks for the reminder @sapegin, I'll my best next time I release a version.

[2016-02-16 10:05] #123 closed

[2016-02-16 10:18] sapegin commented on #123
:+1:

[2016-02-17 14:00] kuy opened #124 "Best way to focus text input from outside"
I wanted to focus `<input>` of `AutosuggestContainer` from other react component.
As a hacky solution, I wrote following code to realize it.

[code]

**Question**: Is there other way without hack? Because of `react-autosuggest` is self-contained component, I couldn't emit `INPUT_FOCUSED` action from outside. Thanks in advance :smiley:

[2016-02-17 19:41] jbasrai commented on #124
I missed this earlier too, the answer is available in the [FAQ](https://github.com/moroshko/react-autosuggest/blob/master/FAQ.md):

So you can save the `ref` of the Autosuggest component and extract the `input` field from there

[2016-02-18 00:27] kuy commented on #124
@jbasrai Thanks for pointing! I missed it.

[2016-02-18 00:27] #124 closed

[2016-02-18 17:10] KyleAMathews commented on #115
:+1:

[2016-02-18 21:44] aganglada opened #125 "Submit form"
I have a city auto completable in my form and I want this to be required, I setted inputProps with a required attribute but it doesn't really work as I expect.

What I want is the user to not be able to submit the form till the city_id selected in the input as a value.
Also if the user deletes just one letter of the city, the value of the input will be reseted.

Is there any way to do that?
Thanks

[2016-02-18 22:32] BigPrimeNumbers opened #126 "On First Focus, Suggestions Don't Render if a Value is Present"
I'm running into an issue where an Autosuggest field is not rendering suggestions on first focus if the field  is initially rendered with a value. For instance, if you change the 'Basic' Codepen example to initialize state with a value of "C", no suggestion will be rendered when the field first gains focus (when it should give the suggestions "C, C++, C#, and Clojure). Editing the field kicks the

[2016-02-18 22:59] jbasrai commented on #126
It's because the `suggestions` prop isn't populated until something triggers `onSuggestionsUpdateRequested `. You can initialize it by doing something like this:

[code]

[2016-02-18 23:46] BigPrimeNumbers commented on #126
Unfortunately, adding this doesn't fix the issue. The basic flow is this:

1. componentWillMount -> perform a search based on the current field's value for suggestions. This is performed from an Alt container higher up the React chain in my program.
1. render -> the results of the search have not propagated back down to the Autocomplete container yet.
1. using componentDidMount at this point to tr

[2016-02-19 00:25] jbasrai commented on #126
I edited the Basic Codepen to show the implementation in action: http://codepen.io/anon/pen/rxgjZx. My changes were:

[code]

The important thing is to make sure that the suggestions prop is being set.  I would step through your logic and make sure that `this.getSuggestions` is returning a non-empty array.

[2016-02-19 00:42] BigPrimeNumbers commented on #126
Ah, see that still won't work, because the possible suggestions aren't available at that time; the constructor is called before the componentWillMount method is called. Doing that in my code returns an empty array. so no suggestions are displayed.

If there was some way to force the AC component to show results when the component has focus, that might do it for me, but I don't know how to make tha

[2016-02-19 00:57] jbasrai commented on #126
Oh it's not necessary to have the suggestions loaded in `getInitialState`. You can also do it in `componentDidMount` like in your example. Could your problem be that you haven't overriden [shouldRenderSuggestionsProp](https://github.com/moroshko/react-autosuggest#shouldRenderSuggestionsProp) and that your initial value is blank?

[2016-02-19 01:02] BigPrimeNumbers commented on #126
No unfortunately that's not it either - I did overwrite that one :(

So in the basic codepen example, languages is pre-populated with languages to choose from. In my example, imagine languages starts empty, but gets filled in when the search function is called on the database. It gets filled in after the constructor fires, when componentWillMount then fires (and incidentally, when onFocus fires as

[2016-02-19 01:18] jbasrai commented on #126
Could your problem be that in your `render` method, you are passing in a local variable `{ suggestions }` that wouldn't be defined?

[2016-02-19 02:33] BigPrimeNumbers commented on #126
No, sadly that's not it either. The deconstruction of state works as expected in render, the problem is at that point, this.state.suggestions has an empty array.

[2016-02-19 08:47] jbasrai commented on #126
Sorry missed that. So all that remains is that your `suggestions` state is populated by the async database call right? Have you taken a look at the [async example](http://codepen.io/moroshko/pen/EPZpev)? If you get the `suggestions` state to update properly, then you'll trigger a re-render and everything should work as expected.

[2016-02-19 12:03] moroshko commented on #125
@aganglada Sounds like you want to have a hidden `city_id` field that will be set based on what user types or selects from the Autosuggest. It is possible to achieve this, but it's up to you to implement this. This is not part of `react-autosuggest`.

Making the Autosuggest a `required` field shouldn't be a problem. [Codepen example.](http://codepen.io/moroshko/pen/QyRaPG)

If you don't want to al

[2016-02-19 19:35] aganglada commented on #125
It´s a solution :+1: a nice one. I will try doing that, thank you!

[2016-02-19 20:22] ntgn81 opened #127 "An optional prop to render as textarea"
Hello,

First, thanks for this component. It works great for me!

Now I need it to work on a textarea. If I went and changed react-autowhatever to render textarea instead of input, it would gets me quite close to what I need, bare the quirks with arrow up/down keys inside textarea - https://github.com/moroshko/react-autowhatever/blob/master/src/Autowhatever.js#L233

Would it be possible to have `a

[2016-02-19 21:19] BigPrimeNumbers commented on #126
I did take a look at that, and while that would be a good place to get the update for suggestions, the problem is that the possibilities are returned via a component higher up the React chain, so a re-render is called when the search is performed, and the suggestions wouldn't get properly calculated at that point.

Basically, I need to get the new suggestions and display them AFTER the AC componen

[2016-02-19 21:31] jbasrai commented on #126
If suggestions are being populated from a higher component, you can have them bound to state in the higher component and then pass them into the Autocomplete component via props.  That way when the async call finishes, it will trigger a re-render of the Autocomplete component with the updated suggestions.

[2016-02-19 21:41] BigPrimeNumbers commented on #126
Close, but the suggestions are being calculated locally in the AC component; it's the POSSIBILITIES that are being computed in a higher component.

So this is like the language possibilities in the BASIC example, except instead of being static, they are being populated dynamically from a HUGE DB via the search within the AC component. The reason the possibilities need to be updated dynamically is

[2016-02-19 22:02] jbasrai commented on #126
I think I'm starting to understand a bit better, thanks for bearing with me. So to clarify, your problem is that your total data set `possibilities` is updated when the higher component returns the result of the async call. But `suggestions` isn't updated until the input is changed, which fires `onSuggestionsUpdateRequested`. Is that correct?

I see in the above example that you've commented out c

[2016-02-19 23:12] BigPrimeNumbers commented on #126
Cool, glad we're getting on the same page :)

So yes, your summary is correct: the total data set possibilities is updated when the higher component returns the result of the async call, but suggestions isn't updated until the input is changed.

The code in willReceiveProps is commented out because if I update the suggestions as soon as I get back the possibilities, the AC component behaves undesi

[2016-02-19 23:43] jbasrai commented on #126
react-autosuggest already handles the behavior when cycling through suggestions with the arrow keys, so I think it's best to leave the heavy lifting to that. Instead, in `willReceiveProps`, could you check if `possibilities` changes, and then only update suggestions on that condition?

[2016-02-19 23:59] BigPrimeNumbers commented on #126
Okay, so I finally got it working the way I want to, and here's how:

[code]

While I realize that AC is handling the cycling of suggestions when using the arrow keys, it had the undesirable (at least in my case) effect of updating the field's value (as I outlined in the example I gave above).

Thanks for all of your input and effort; I appreciate it! Now the suggestions are populated immediately,

[2016-02-19 23:59] #126 closed

[2016-02-20 00:08] jbasrai commented on #126
good work figuring it out!

[2016-02-20 06:34] moroshko commented on #127
@ntgn81 Could you explain your use case with textarea? Why input is not good enough?

[2016-02-20 15:41] ntgn81 commented on #127
For sure.

I have a list of text items that can be long, simple input does not have enough space to show the lengthy text, so I have to use textarea to show more text for each entry.

I also need to show users possible matches as they type something new, giving them the option to reuse an existing item instead of entering a new one.

Was that a clear enough definition?

[2016-02-21 00:10] moroshko commented on #127
@ntgn81 Sounds reasonable, but I never saw an autosuggest component with a textarea. Do you know any examples online that implement a similar behaviour to what you want?

[2016-02-21 14:26] ntgn81 commented on #127
I couldn't find anything similar from my searches. It is definitely not a common use case. I do need it to be a textarea though.

I would still like to use this awesome component for that with minimum hacking/modifications. A pass through prop for `autowhatever` would do that for me, I believe.

[2016-02-22 11:05] moroshko commented on #127
@ntgn81 Your requirement sounds like an edge case. I don't think at this stage that it's a good idea to add a support for a textarea in `react-autosuggest` because of the complexity it brings with regards to accessibility (e.g. Up/Down navigation). I'd encourage you to find a more common solution to the problem you are trying to solve, or, if you absolutely have to, to fork `react-autosuggest` and

[2016-02-22 11:05] #127 closed

[2016-02-22 11:05] moroshko commented on #125
Closing for now.

[2016-02-22 11:05] #125 closed

[2016-02-22 12:47] ntgn81 commented on #127
Not a problem. I totally agree it's a very weird edge case. I'll try to work around it. Thanks alot for responding :D

[2016-02-22 18:03] davedawson opened #128 "Search full text, not just beginning characters"
I'd like to be able to set this field to use the search term to match against the full text of the source, not just the begginning of the source. For example:
### Search term:
`the one`

### Results:

- Neo is **the one** who was...
- **the one** time I ate at Chipotle...

Currently, only the item that begins with the `the one` text will appear. Is there an option to switch to search the full text

[2016-02-22 21:07] jbasrai commented on #128
You can change the logic that you're currently using to set `suggestions`. Forked the Basic Codepen example to illustrate: http://codepen.io/anon/pen/pgXmNP

[2016-02-22 22:15] davedawson commented on #128
Oh that's great. I was looking for an option on the component. But this works too. Thanks for that!

[2016-02-22 22:15] #128 closed

[2016-02-25 14:58] sapegin commented on #49
I also need this. Will try to make a PR if I have time.

[2016-02-26 12:24] aganglada opened #129 "Upgrade 3.x suggestions"
I just upgrade the package from 2.x to 3.x and change every behavior to match the new stuff and I'm getting this warning message.

Warning: Failed propType: Invalid prop `suggestions` of type `array` supplied to `Autosuggest`, expected `function`. Check the render method of `Search`.

This is my component:

[code]

As you see mu suggestions comes from ajax, so the initial state is empty array, is

[2016-02-27 04:11] moroshko commented on #129
@aganglada Your code looks perfectly fine. Could you try to reinstall `node_modules`? I suspect you might be running an older version of `react-autosuggest`.

Also, this is not required anymore:
[code]
`onSuggestionsUpdateRequested()` is called now when suggestion is selected (as well as in other cases), so it will load the suggestions for you.

[2016-02-27 13:44] aganglada commented on #129
You were right, I did npm install react-autosuggest --save but it did't go to the lastest version instead it went to the last without breaking change which was 2.5 or something like that.

Now it seems like there is another error with the container:

![screen shot 2016-02-27 at 2 41 37 pm](https://cloud.githubusercontent.com/assets/922348/13373176/7db9fb3e-dd60-11e5-85c8-657e22de5a04.png)

My rend

[2016-02-27 23:27] moroshko commented on #129
@aganglada Could you print out the value of `suggestions` before passing them to `Autosuggest`?

[2016-02-27 23:39] aganglada commented on #129
Empty array, this problem above is when I try to type something in the input.

[2016-02-28 00:22] moroshko commented on #129
You should be updating `this.state.suggestions` from `onSuggestionsUpdateRequested`, e.g.:
[code]
[Codepen example](http://codepen.io/moroshko/pen/LGNJMy)

I'm not sure why `suggestions` become not defined when you type, but you are definitely missing the updating bit (sorry, I should have noticed that earlier).

[2016-02-28 11:17] aganglada commented on #129
I have exactly the same than you, the only difference is that I take suggestions from api and you have an static object.

For my it fails exactly in the meanwhile Api is resolving the promise.

[code]

<img width="398" alt="screen shot 2016-02-28 at 12 16 27 pm" src="https://cloud.githubusercontent.com/assets/922348/13378880/278f24d6-de15-11e5-8f7d-be82dd0e24f0.png">

In the line 181, the one is s

[2016-03-01 13:38] aganglada commented on #129
At the end what I did was to set the state in inside the promise, so everything working fine and nicely!

[code]
:)

[2016-03-03 15:59] sushant711 opened #130 "Turn off spellcheck on input field"
Is there a way I can control attributes on input field?

[2016-03-03 18:59] jbasrai commented on #130
Anything passed into `inputProps` will be propagated to the input element.

[2016-03-04 04:40] sushant711 commented on #130
Actually that didn't worked.
Instead this worked perfectl,
[code]

[2016-03-04 09:15] JesperKihlberg opened #131 "Show suggestions initially (inputValue empty)"
Is it possible to have make the control show a list of suggestions initially? So when the user clicks the text box, the drop down is displayed immediately?

[2016-03-04 13:22] JesperKihlberg commented on #131
I tried to set shouldRenderSuggestions to always return true, but that doesn´t seem to make any difference when inputValue is empty.
Any ideas?

[2016-03-04 14:36] JesperKihlberg commented on #131
Ah, finally figured it out. shouldRenderSuggestions is indeed the way to go. I just had some logic in getSuggestions, that prevented me from gettting hits on empty strings.

[2016-03-04 14:36] #131 closed

[2016-03-05 12:26] moroshko commented on #129
Glad you figured it out!

[2016-03-05 12:26] #129 closed

[2016-03-05 12:39] moroshko commented on #130
@sushant711 Are you sure that adding `spellCheck: false` (note the capital C) to `inputProps` doesn't work? `spellCheck` is listed in the supported attributes in the [docs](https://facebook.github.io/react/docs/tags-and-attributes.html#html-attributes).

[2016-03-05 14:48] sushant711 commented on #130
@moroshko Ah, capital C worked. I should have referred documentation properly. My bad. Thanks for a clear simple solution and thanks for building this awesome library. I tried react-select and many more. None of them had a satisfactory API contract. react-autosuggest has a very minimal yet sufficient contract :)

[2016-03-05 16:22] ThibWeb opened #133 "Always render suggestions"
Hey hey,

I have a specific use case where I need the list of suggestions to always be rendered. I expected this to be the case if [`shouldRenderSuggestions`](https://github.com/moroshko/react-autosuggest#shouldrendersuggestions-optional) always returned true, but things are a bit more complicated.

In reality, for suggestions to be rendered the criteria are:

- `isFocused`, and
- `!isCollapsed`,

[2016-03-05 17:17] sushant711 commented on #133
@ThibWeb +1 Even I was wishing to have that feature.

[2016-03-06 01:05] moroshko commented on #130
Thanks @sushant711 :+1:

[2016-03-06 01:05] #130 closed

[2016-03-06 01:20] moroshko commented on #133
@ThibWeb Thanks for the detailed issue!

Could you explain a bit more what do you mean by:

I assume when you focus on the field for the first time, you'd like the suggestions to appear.
Do you still want to filter suggestions as you type, or you have a static list to present to users regardless of what they type?

[I modified the Basic example](http://codepen.io/moroshko/pen/xVweRJ) to always sho

[2016-03-06 09:23] sushant711 opened #134 "Changing `focusInputOnSuggestionClick` to `focusInputOnSuggestionPick`"
Sorry for creating a new issue again but I think some of things can be fixed here,

In the method `focusInputOnSuggestionClick`, the behavior is restricted to mouse click. The intended behaviour is whenever a suggestion is picked regardless whether its a mouse click, or a enter press, it should behave same for focusInput.

Also, Autosuggest (which is wrapped inside AutosuggestContainer) has a prop

[2016-03-06 10:52] moroshko commented on #134
@sushant711 Could you please open 2 separate issues, if you ask 2 unrelated questions?

`focusInputOnSuggestionClick` is targeting onClick and onTap by design, not Enter.

When suggestion is selected, the list should be closed according to accessibility guidelines. If you want the list to always stay open, you might need to look for another library, or implement your own.

[2016-03-06 10:52] #134 closed

[2016-03-06 23:52] ThibWeb commented on #133
Sure. By "always' I mean _when the component renders the suggestions render too_.

For my project, the UX thinking is that people shouldn't need to type text and filter things in order to pick a suggestion. It is relevant for us to show the full list, so we do just that and leave them the opportunity to either type a search term or scroll through the whole list and click. Autocompletion / filterin

[2016-03-08 10:48] moroshko commented on #133
@ThibWeb I can see why in your use case it makes sense to keep the suggestions always visible to the user. However, the input field in your case feels more like a filter than a traditional autosuggest. As you pointed out, it makes sense to keep the suggestions always visible only when selecting a suggestion takes you somewhere else (in your case, it's closing the modal, but it could just be a norm

[2016-03-10 20:32] joaovpmamede commented on #109
I wish I could have this feature, not closing the suggestions after an event (click/enter, etc...).
That way we could choose more than one suggestion at a time.

Do you plan on adding some prop for this in the future?

[2016-03-11 11:11] ThibWeb commented on #133
This is a very legitimate, and tough question :) I've been thinking about it but am still undecided – will get back to you on the issue.

It's hard to accommodate both more control over how things work and sane defaults for the things that 90% of the users wouldn't want to deal with. Thinking about it!

[2016-03-14 16:38] selaux commented on #133
We also need this feature for a modal overlay on mobile. I'm not sure about how to implement this either. Our goal would be to basically set `isOpen && !isCollapsed` to true. We did this by encapsulating it into a prop of type function that is called at this point. Looking back, this decision was not good, since the difference between this prop (which we called `shouldOpenSuggestions`) and `should

[2016-03-15 21:53] hkrutzer opened #135 "Support React v15"
Is any work required for this? I ran the tests with React v15 and they all pass.
v15 is not allowed as a peer dependency however.

[2016-03-18 10:21] aganglada commented on #129
:+1:

[2016-03-18 12:21] moroshko commented on #135
[Enjoy!](https://github.com/moroshko/react-autosuggest/releases/tag/v3.6.0)

[2016-03-18 12:21] #135 closed

[2016-03-21 22:13] siarcarse opened #136 "Can add a tree view?"
The plugin is awesome, but tree view even more impressive....
something like:
 [rc-tree-select](http://react-component.github.io/tree-select/examples/basic.html)
With multi-selection...
My english is not the best, i am from Chile and i can help us if necessary.
kind regards!

[2016-03-22 10:32] hkrutzer commented on #135
Thank you!

[2016-03-22 11:51] moroshko commented on #136
@siarcarse What is your use case for using the Autosuggest with a tree view. This sounds like out of scope for this project.

[2016-03-22 12:48] siarcarse commented on #136
I need autocomplete data with subscripts... Apples with subscrips apple red, apple green...
Same for radiological studies like upper extremity, with subscripts arm, elbow, hand, etc...
Only for see the information more clear.
thanks!

[2016-03-23 11:25] moroshko commented on #136
You can render multiple section like in [this example](http://codepen.io/moroshko/pen/qbRNjV), and potentially achieve what you want. If you really need the collapse/expand functionality, you'll have to look for another component. This is way beyond what Autosuggest is designed for. Sorry.

[2016-03-23 11:25] #136 closed

[2016-03-23 14:37] bricejlin opened #137 "Sorting options for suggestion list?"
Any plans to add functionality for controlling sorting of suggestions?

[2016-03-24 04:23] moroshko commented on #137
@bricejlin Suggestions ordering is completely up to the user. Autosuggest has no opinion on this. You pass it [`suggestions`](https://github.com/moroshko/react-autosuggest#suggestionsProp) which are sorted the way you want them, and Autosuggest will display them in the same order. Does this makes sense?

[2016-03-24 15:28] bricejlin commented on #137
@moroshko Ah i see. thanks!

[2016-03-24 15:28] #137 closed

[2016-03-24 17:42] rdubrock commented on #74
If anyone is using jspm and runs into this issue, I fixed it using `jspm resolve --only npm:react@[versionnumber]`

[2016-03-25 15:02] dlmoody commented on #109
This also happens in IE10. I have not verified but I have been told that this is occurring in IE9 also.
@moroshko I would be more than happy to make the fix. Does anyone know what the issue is? I am thinking the fix would be in autowhatever though right? Since it seems to be presentation layer so to speak?

[2016-03-26 06:50] moroshko commented on #109
@joaovpmamede What you want is probably beyond the scope of this library, sorry.

[2016-03-26 06:51] moroshko commented on #109
@dlmoody I haven't had the time to investigate the IE issue, but will be more than happy to accept a fix.

[2016-03-29 04:03] hibearpanda opened #138 "Quick question regarding browser support"
Like what you're doing with react-autosuggest - thank you for your effort and work!

Just wanted to ask how well react-autosuggest does in terms of browser support - do you have a browser support list, especially for IE and mobile browsers?

Thanks!

[2016-03-29 04:24] moroshko commented on #138
@hibearpanda Thanks :)

There is no official list, but from what I know it's working in latest Chrome, Firefox, Safari, iOS, Android, and there is a [known bug in IE](https://github.com/moroshko/react-autosuggest/issues/109).

[2016-03-29 09:29] DonKanallie opened #139 "Get Title of MultiSection in onSuggestionSelected"
Hey,
is there a way to get the sectionTitle of a selected Value in the onSuggestionSelected Function when multiSection is activated?

Thanks

[2016-03-29 10:35] moroshko commented on #139
@DonKanallie At the moment, there is no way to know which section the selected suggestion belongs to.  The only thing you can probably do is to look up the selected `suggestion` in your `suggestions`.

We can add `sectionIndex` to the info that `onSuggestionSelected` provides:
[code]

Would that solve the problem for you?

[2016-03-29 11:33] DonKanallie commented on #139
The string would be better, but index would also do the trick. At the moment i have loaded columns of a db and these are my titles and the content my values. I'm just trying to build a WHERE statement for the next query out of the selected Values, therefor i need the Column names.

[2016-03-29 12:06] JesperKihlberg commented on #136
@siarcarse I made a fork of this project, that adds the possibility to show a submenu, is this what you are looking for?
@moroshko Would you be interested in a pull request for this?
![image](https://cloud.githubusercontent.com/assets/4201521/14107277/5ef7f6be-f5b7-11e5-9a36-a3ae1c129fa7.png)

[2016-03-29 12:10] moroshko commented on #136
@JesperKihlberg Do you have a demo page where I can see this in action?

[2016-03-29 12:13] moroshko commented on #139
@DonKanallie Autosuggest has no knowledge of section titles (i.e. the strings that you want). It's totally up to you how you implement [`renderSectionTitle()`](https://github.com/moroshko/react-autosuggest#renderSectionTitleProp). So, the only reasonable thing would be to provide `sectionIndex`, as I suggestion above.

[2016-03-29 12:15] DonKanallie commented on #139
ok, yeah index would do it. Thanks!

[2016-03-29 13:03] JesperKihlberg commented on #136
@moroshko yes: http://autosuggest.jesperkihlberg.dk/demo/dist/index.html

[2016-03-30 11:45] moroshko commented on #139
[Enjoy!](https://github.com/moroshko/react-autosuggest/releases/tag/v3.7.0)

[2016-03-30 11:45] #139 closed

[2016-03-31 06:51] KazuyaHara opened #140 "doesn't work with react-rails' es6.jsx format"
I'm using react-autosuggest in Rails app with [react-rails](https://github.com/reactjs/react-rails) & [browserify-rails](https://github.com/browserify-rails/browserify-rails). But it occures ```Uncaught ReferenceError: App is not defined``` in the chrome developer tool. Any ideas to solve this problem?

In my manifest
[code]

[code]

and in my JS (copied from official [Codepen examples](http://cod

[2016-03-31 08:48] moroshko commented on #140
Sorry, but your issue has nothing to do with react-autosuggest. I suggest you open an issue in react-rails or browserify-rails instead.

[2016-03-31 08:48] #140 closed

[2016-03-31 20:14] kumarr88 opened #141 "onSuggestionsUpdateRequested not called when clicking backspace button and there is only one letter in the textfield"
Hey,
I have this weird issue. When i type in text in the input field for autosuggestions. I am getting suggestions. When i use my keyboard 'backspace' button it clears the text and i am still getting suggestions. But if there is only one letter left in the input field and i press "backspace" button, it clears the input field for a moment but then it appears back.. I see it disappearing because i h

[2016-04-01 16:18] colllin opened #142 "Please support input `valueLink`"
These `propTypes` validations prevent the use of the `valueLink` prop on the input:

https://github.com/moroshko/react-autosuggest/blob/16eae00bf1cc7377990410483cae6184f45198ac/src/AutosuggestContainer.js#L59

More about `valueLink`:

https://facebook.github.io/react/docs/two-way-binding-helpers.html

Please support `valueLink`, or consider delegating to a real `<input>` somewhere if you're not al

[2016-04-01 18:54] colllin commented on #133
I'm needing this too.

What if you just always render `this.props.suggestions` if the input is focused?

This would make it so that the simplest use case (`<Autosuggest suggestions={['a', 'static', 'array']} />`) always renders that array when the input is focused.

And if the typical usage is to implement `this.props.onSuggestionsUpdateRequested` to filter suggestions based on the input value, th

[2016-04-01 19:09] colllin commented on #133
Sorry, **`shouldRenderSuggestions={() => true}`** totally works.  I had tried that but on the wrong `<Autosuggest>`.

[2016-04-03 01:07] ThibWeb commented on #133
Ok – my project has evolved a bit and I took some time to think about this.

I still think there is a valid but probably uncommon use case for "always render suggestions". I tried to make this work on my project with `autoFocus` on the input field, but this isn't enough to support the UI I want to build. For some people like @colllin, `inputProps={{autoFocus: true}}` and `shouldRenderSuggestions={

[2016-04-06 09:16] moroshko commented on #133
@ThibWeb Thanks a lot for your feedback and suggestions!

I think the first option makes the common use case of `shouldRenderSuggestions` much more complex. I don't believe that this is an acceptable compromise.

With the second option, I find it very strange that `shouldRenderSuggestions={true}` and `shouldRenderSuggestions={() => true}` behave very differently.

I'm starting to lean towards intr

[2016-04-06 09:17] moroshko commented on #138
Closing for no activity.

[2016-04-06 09:17] #138 closed

[2016-04-06 10:36] moroshko commented on #141
@kumarr88 Could you try and recreate the issue by modifying [this Codepen](http://codepen.io/anon/pen/BKmMPQ?editors=0010)?

[2016-04-07 08:28] selaux commented on #133
@moroshko: Here are my two cents for the suggestions
- I agree that extending `shouldRenderSuggestions` would be the cleanest way and I don't think that it would make the common use case much more complex (it would come down to adding `isFocused &&`). The big drawback that I see here is that this will require users to change their current implementations to include this, so there would be a new ma

[2016-04-07 20:55] adack123 opened #143 "ComboBox"
Hey dudes,

Really enjoy what you guys have done here. I did have a quick question / feature request. Do you all have plans to include functionality for a combobox? As in, when the input is focused display all the results of the suggestions container in the dropdown.

[2016-04-08 01:07] moroshko commented on #143
@adack123 You can achieve the behaviour that you want if you provide `suggestions={<all suggestions>}` to Autosuggest when `inputProps.value` is blank.

[2016-04-08 12:44] moroshko commented on #142
I'm going to pass on this one because [`valueLink` is deprecated since React 15.0](https://facebook.github.io/react/blog/2016/04/07/react-v15.html#new-deprecations-introduced-with-a-warning).

[2016-04-08 12:44] #142 closed

[2016-04-08 15:38] adack123 commented on #143
@moroshko Thanks for the reply! I'm not sure I completely understand, excuse my naivety. Taking the example code from readme Are you saying that when `inputProps.value` I'm going to pass the entire languages array to suggestions prop?

[2016-04-09 01:46] moroshko commented on #143
Yes. All you need is to change:
[code]
to:
[code]

[2016-04-09 10:58] moroshko commented on #133
How about `alwaysRenderSuggestions` instead of `renderSuggestionsWithoutFocus`?

I think `renderSuggestionsWithoutFocus` leads to more questions like:

Any volunteers to implement this?

[2016-04-11 15:16] adack123 commented on #143
Hey @moroshko,

I went ahead and tried that out this morning. I'm not sure this is generating the desired effect I'm looking for. To double check I went ahead and also dropped that into one of the codepen examples and couldn't generate the desired effect.

When I make this change on an initial click in the input or focus I still don't get a dropdown with the desired language options. Any thoughts?

[2016-04-11 15:56] adack123 commented on #143
Not sure if this is a hacky way of doing it but I did solve the problem I was having.

Because the default for suggestions is to render when the input field is black... I overrode with this.

[code]
Having that plus returning the entire array when `inputLength === 0` gave me the combobox functionality I was looking for. Thanks for your help!

[2016-04-11 20:27] tavelli opened #144 "update peer dependency to react 15.0.0"
getting error on npm install, doesn't seem to like the ^15.0.0-rc.1

[2016-04-11 22:18] SwaroopH commented on #144
@tavelli I sent a PR - see if that resolves it for you?

https://github.com/moroshko/react-autosuggest/pull/145

[2016-04-12 05:12] ThibWeb commented on #133
I volunteer! `alwaysRenderSuggestions` sounds good.

[2016-04-12 05:19] moroshko commented on #133
Thanks @ThibWeb 👍

[2016-04-12 12:01] kromit opened #146 "Using redux components within renderer"
Since the autosuggest uses its own redux store, the following use case is not possible:

    renderContactSuggestion(item) {
        return (
            <span className={'suggestion-content'}>
                {item.firstName} {item.lastName} (<I18n message={"contactType."+item.type}/>)
            </span>
        )
    }

The `I18n` Component uses a redux store, where the global translation messa

[2016-04-12 15:01] tavelli commented on #144
@SwaroopH yea that does the trick. thanks!

[2016-04-13 03:08] #143 closed

[2016-04-13 12:29] moroshko commented on #146
@kromit Sorry, I don't quite understand. Could you please create a Codepen that demonstrates the issue?

[2016-04-13 12:32] moroshko commented on #144
@tavelli What `npm` version do you use?

[2016-04-13 13:43] tavelli commented on #144
@moroshko  using node 4.2.4 and npm 2.14.12

[2016-04-13 13:44] kromit commented on #146
This is not that complicated. `I18n` is a connected redux component and looks like this

    class I18n extends Component {
        render() {
        ..../* translate the param using this.props.messages*/
        }
    }

    export default connect((state)=>{
        return {messages:state.app.i18n.messages}
    })(I18n);

The `state.app` is `undefined` during connect if used for suggestion rende

[2016-04-13 22:51] CLL80 opened #147 "Focus first matching item"
Is there a way to focus the first matching item? For example, when typing 'react' with the suggestions 'angular', 'react', 'react autosuggest', and 'javascript', 'react' would be focused.

[2016-04-14 11:13] moroshko commented on #147
@CLL80 At the moment, there is no API to do that. Do you know any examples online that implement this behaviour?

[2016-04-14 11:21] moroshko commented on #146
@kromit Do you have a suggestion how to improve Autosuggest for this use case?

[2016-04-14 12:08] kromit commented on #146
I have no idea. I've looked into redux docs, but I've found nothing useful to fix this problem. We could evtl talk to @gaeron about this since I am not sure if this is working as intended.

[2016-04-14 15:37] pdc opened #148 "Scrollable suggestions list"
My customer would like to have the list of suggestions show a scrollbar rather than have the suggestions container extend beyond the bottom of the viewpoint. It is possible to make something that looks the part by setting `max-height` and `overflow-y` properties on the suggestions-container element. There are two main problems

- selecting a suggestion using the arrow keys does not scroll the list

[2016-04-14 15:45] CLL80 commented on #147
The Combobox (Dropdown + Autosize): section [here](http://alexkuz.github.io/react-input-enhancements/) does it. It would essentially be focusing the first suggestion that is returned. I tried seeing if I could pass focusedItemIndex or focusedSuggestionIndex to the AutoWhatever component from the Autosuggest component but had no luck with this.

[2016-04-15 17:53] cellog opened #149 "non-standard npm layout makes impossible to use with meteor 1.3"
to see what I mean,

install Meteor from https://www.meteor.com/install

meteor create test
meteor npm install
meteor npm install react
meteor npm install autosuggest

then in the main.js file, add

import React from 'react'
import Autosuggest from 'autosuggest'

and run the app.  It fails, because you have no index.js, only autosuggest.js.

import Autosuggest from 'autosuggest/autosuggest.js'

wo

[2016-04-15 17:57] cellog commented on #149
opened for wrong repo.  (too many windows open)

[2016-04-15 17:57] #149 closed

[2016-04-15 19:34] cellog commented on #148
this seems related to #133

The problem is that when you interact with the suggestions list, it removes focus from the input, which closes the suggestions list.  I think the blur() needs to be a bit more sophisticated.  It should close the list ONLY when a user interacts with an element outside the entire component, not just when the input is blurred

[2016-04-20 08:30] chemjournal opened #150 "babel-loader throws an error when using the library with webpack"
I'm using your library along with web pack, and the babel loader and i get this error when web pack compiles. Any idea ?

ERROR in ./~/section-iterator/dist/sectionIterator.js
Module build failed: ReferenceError: [BABEL] /Users/salmanhasratkhan/Documents/Projects/react/proreact/aircheap/node_modules/section-iterator/dist/sectionIterator.js: Using removed Babel 5 option: /Users/salmanhasratkhan/Doc

[2016-04-20 08:35] moroshko commented on #150
Looks like [this is the issue](https://github.com/moroshko/section-iterator/pull/1). I'll have a look.

[2016-04-21 05:52] moroshko commented on #109
Fixed in [3.7.1](https://github.com/moroshko/react-autosuggest/releases/tag/v3.7.1)

[2016-04-21 05:52] #109 closed

[2016-04-21 05:53] moroshko commented on #150
Fixed in [3.7.1](https://github.com/moroshko/react-autosuggest/releases/tag/v3.7.1)

[2016-04-21 05:53] #150 closed

[2016-04-21 05:53] moroshko commented on #144
Fixed in [3.7.1](https://github.com/moroshko/react-autosuggest/releases/tag/v3.7.1)

[2016-04-21 05:53] #144 closed

[2016-04-21 05:54] chemjournal commented on #150
awesome! Thank you

[2016-04-21 05:55] moroshko commented on #141
No activity, closing for now.

[2016-04-21 05:55] #141 closed

[2016-04-21 06:29] efegurkan opened #151 "react-autowhatever dependency installs multiple react instances on npm2."
Hello,
Just a heads up.
Because of react-autowhatever dependency is declared as ^3.1.0 for version react-autosuggest@3.6.0, it installs react-autowhatever@3.2.1 as a dependency. Which has a peerDependency of react ^15.0.1.

On npm 2 peer dependencies auto installed, so if you still use react@0.14.x npm will install multiple instances of react.

As a workaround you can explicitly set react-autowhat

[2016-04-21 06:51] ibhub commented on #109
Great! Thank you.

[2016-04-21 11:23] moroshko commented on #146
@kromit Here are my initial thoughts:

`Provider` in `react-redux` always provides the context on `store`. Looks like `react-redux` doesn't have an API that allows you to have the context on something else. It would be great if you could do something like:
[code]
Then, we could do:
[code]

@gaearon Would be keen to hear your thoughts on how to address this issue.

@kromit Is `I18n` available on np

[2016-04-21 11:25] gaearon commented on #146
Don't use Provider in a library, and pass store as a prop to the connected component instead. Connect detects store in props as a fallback.

[2016-04-21 11:44] moroshko commented on #138
@hibearpanda Just letting you know that [the IE bug I mentioned above](https://github.com/moroshko/react-autosuggest/issues/109) is fixed in [3.7.2](https://github.com/moroshko/react-autosuggest/releases/tag/v3.7.2).

[2016-04-21 11:47] moroshko commented on #146
Thanks @gaearon, much simpler!

[2016-04-21 11:57] moroshko commented on #146
This is fixed in [3.7.3](https://github.com/moroshko/react-autosuggest/releases/tag/v3.7.3) now.

[2016-04-21 11:58] #146 closed

[2016-04-21 12:16] moroshko commented on #151
@efegurkan Could you please check if it is still an issue in 3.7.3?

[2016-04-21 13:14] efegurkan commented on #151
@moroshko yep that looks like fixed. Thanks for fast response.

[2016-04-21 13:14] #151 closed

[2016-04-21 17:18] kromit commented on #146
@moroshko I am not sure if the current solution will work for multiple autosuggest inputs when they are using the same store. I've not tested this, but should not every autosuggest input use a dedicated state path like based on its id or something?

[2016-04-21 17:43] gaearon commented on #146
The store is created in [the constructor for every instance](https://github.com/moroshko/react-autosuggest/blob/ffc1bd9618950825a895b0fefffcc3bf24c4d01d/src/AutosuggestContainer.js#L104) so this shouldn’t be an issue. It’s an implementation detail.

[2016-04-22 01:54] hibearpanda commented on #138
thanks man!

[2016-04-22 13:55] mauriciosoares opened #152 "Force dropdown to open"
Hey!

Is there a way I can force the drowdown to open with the latest suggestions filled, without having to focus on the input?

My idea is to set the focus on the callback of another event...

Thanks!

[2016-04-22 13:57] moroshko commented on #152
Yeah, setting the focus programatically should do the trick.

[2016-04-22 14:18] mauriciosoares commented on #152
I see, I'll do some tests then...

I'll tell you later if I succeeded :)

Thanks

[2016-04-22 14:18] #152 closed

[2016-04-22 14:33] mauriciosoares commented on #152
worked like a charm! thanks @moroshko

[2016-04-22 19:03] mauriciosoares commented on #147
That's a nice feature request, I'd make use of that too...

[2016-04-22 21:27] colllin commented on #142
Lucky timing.  Probably still a worthwhile suggestion not to re-implement input properties yourself.  You could just pass them through.

[2016-04-26 13:33] cassiozen opened #154 "Patch to 2.X with support for React 15"
Hi, I'm the author of the "Pro React" book by Apress - In the chapter 6 of the book there is an exercise that uses react-autosuggest 2.x.
I'm updating all sample code to use React 15, but I'm having troubles with this specific exercise (since react-autosuggest 2.x requires React 0.14 as a peer dependency).

I created a fork of the project that builds on top of version 2.2.5 bringing React to 15.0

[2016-04-26 14:06] ThibWeb commented on #133
This use case should now be tackled with the work done in #155. I'd love to get more eyes onto this PR to make sure it does the right thing and is tested enough.

[2016-04-27 01:01] moroshko commented on #154
Have you considered to upgrade your example to react-autosuggest 3.0? I be happy to help you with the migration.

[2016-04-27 12:29] moroshko commented on #142
@colllin What input properties are we talking about. Autosuggest passes `inputProps` to the `<input>` element.

[2016-04-27 18:20] cassiozen commented on #154
Hi @moroshko, thanks for your prompt response. I do use autosuggest 3 on other projects, and on future editions of the book I will certainly update the source to autosuggest 3. In this specific case, though I want keep the book sample codes unchanged (just the dependencies) - so it keeps easier for readers to follow up.

[2016-04-29 13:30] avindra commented on #21
@moroshko: Any update on `scrollBar`? It would be nice to have this feature again.. should this issue be reopened?

[2016-04-29 22:43] vivinRajagopalan opened #156 "On change Method is defined but never used"
Hi ,

I am trying this for the first time and when i was trying to implement a simple auto complete, The onchange function that is used in the signature of input props always throguh an error saying that the method is defined but not used. what could be the reason ? Please let me know. Thanks

[2016-04-29 23:14] BigPrimeNumbers opened #157 "Displaying a Message When No Suggestions Provided to AutoSuggest"
Is it possible to have Autosuggest display a suggestion such as "Nothing found." if an empty array is passed to the Autosuggest component?

I have it working right now by having `getSuggestions` place a single React element of `<p>Nothing found.</p>` into the suggestions array if none are found when filtering, but this feels hacky, and causes this default suggestion to display for a split second w

[2016-04-29 23:53] moroshko commented on #21
@avindra It's coming! We have a [Pull Request opened for `react-autowhatever`](https://github.com/moroshko/react-autowhatever/pull/6) and also [this one for `react-autosuggest`](https://github.com/moroshko/react-autosuggest/pull/153).

[2016-04-30 12:45] moroshko commented on #156
Could you create a Codepen example that demonstrates the issue? [Some examples for reference](http://codepen.io/collection/DkkYaQ/)

[2016-04-30 12:48] moroshko commented on #157
I haven't tried this, but what if instead of passing an empty array, you use `multiSection={true}` with:
[code]
?

[2016-05-02 09:32] JamieDixon opened #158 "Allow input blur when using keyboard for suggestion or term"
Hi, first I just want to say thanks for creating and maintaining react-autosuggest. I appreciate all the effort that goes into maintaining an OSS project, 👍

We have a prop `focusInputOnSuggestionClick` that determines whether the input receives focus when a suggestion is clicked. I am however finding it difficult to `blur` the input when the user hits `ENTER` on a suggestion or when wrapping the

[2016-05-02 20:05] BigPrimeNumbers commented on #157
Unfortunately this doesn't work, as the empty suggestions array in the object causes `renderSectionTitle` to never be called. I can put an empty object in the suggestions array (within the object) which causes the title to be rendered, but an empty, selectable item underneath the title also appears, which is less than ideal.

![untitled](https://cloud.githubusercontent.com/assets/3743463/14966266/

[2016-05-03 09:39] appbank2020 opened #159 "How to use react-autosuggest in redux"
Hi,
I am gonna use autosuggest in redux.
autosuggest works very well in flux, but i need to wrap in redux form.
Can you help me?
Please give me example for redux.
Thank you very much.

[2016-05-03 11:45] moroshko commented on #159
The is a link in the README to a bunch of [Codepen examples](http://codepen.io/collection/DkkYaQ/).
[One of them is what you want.](http://codepen.io/moroshko/pen/ZQLyNK)

[2016-05-03 11:45] #159 closed

[2016-05-03 11:47] moroshko commented on #154
There are no plans to keep maintaining 2.x. If upgrading to 3.x is not an option, you'll probably have to point readers to your fork. Sorry.

[2016-05-03 11:47] #154 closed

[2016-05-03 11:58] moroshko commented on #158
Interesting. This is the first time someone asks to blur on Enter. Could you explain the rationale behind this? If you could create a Codepen that demonstrates the issue, that would be great.

[2016-05-03 12:01] moroshko commented on #157
Have a look at this [Codepen](http://codepen.io/moroshko/pen/wMRmmM).

[2016-05-03 14:12] JamieDixon commented on #158
The use case is that a user types a search query into a suggest-enabled box and hits enter (or keys down to an item and hits enter). The search is then loaded (this is an single-page-app) and because the search input still has focus, the suggestions show up.

We'd like to blur the input and stop the suggestions showing at that point because they offer little value to a customer who's already seein

[2016-05-03 17:25] BigPrimeNumbers commented on #157
Thanks for the example, though we were trying to get this to show up within the autosuggest dropdown. I ended up accomplishing this with the single React element of <p>Nothing found.</p> being placed into the suggestions array, and debouncing to prevent it from showing up momentarily before our server could return possible suggestions that could be filtered. Thanks for your time and help with this

[2016-05-03 17:25] #157 closed

[2016-05-04 08:25] web2style opened #160 "Programmatically close suggestions-container"
Is it possible to close `.react-autosuggest__suggestions-container` programmatically?

[code]
Is there smth like this?

[2016-05-04 08:32] moroshko commented on #160
Could you share your use case? What would you want to do that?

[2016-05-04 10:07] dbackeus commented on #63
A +1 for this feature. Our usecase is an autosuggest for a contact list for sending email where some contacts may have unsubscribed themselves.

Optimally we could show them there as disabled since; 1. Not showing them at all might confuse the user since he's looking for a specific contact he expects to be in the list and 2. Letting them select an unsubscribed user and then not sending the email w

[2016-05-04 14:02] talarari opened #161 "allow for different renderSuggestion for each item"
i'm using this for a search bar with preview ,every section is data from a different data source and i would be cool if i can render different sections differently since they show different data.

its possible to support this for multisection and for normal mode by adding a know field on suggestion item , something like "templateKey".
then its possible to supply render suggestion with the key:

[2016-05-04 14:23] talarari commented on #161
sorry, i already have the suggestion item i can do this already.
closing this.

[2016-05-04 14:23] #161 closed

[2016-05-04 17:26] vivinRajagopalan opened #162 "Custom ref for Autosuggest"
Hi,
I would love to know if there is a way to give **custom ref ** for Autosuggest component.

Currently it works like <autosuggest ref={this.saveInput} ... </Autosuggest>

Can i have something like ref ="xyz" for the same and not break it?

Thanks in advance

[2016-05-04 18:33] web2style commented on #160
Thanks for the reply, I no longer need it.

[2016-05-04 18:33] #160 closed

[2016-05-04 20:20] rickhanlonii opened #163 "Add tabToEnter setting"
Certain flows allow both tab and enter to complete a suggestion (e.g. Slack user mentions). It would be great if there was a setting to allow this.

[2016-05-05 23:32] #156 closed

[2016-05-07 04:30] jDeppen commented on #66
`<form>` works but it conflicts with other methods when selecting a suggestion with 'enter'. They happen in this order:

1. `onSuggestionSelected` method 'enter'
2. `onSuggestionsUpdateRequested` reason 'enter'
3. form submission

Is it feasible to have `onSuggestionsUpdateRequested` trigger 'enter' (when no suggestion) rather than using `<form>`? Especially since `onSuggestionSelected` already ha

[2016-05-07 12:14] moroshko commented on #63
@dbackeus That makes sense. `react-autosuggest` uses [`react-autowhatever`](https://github.com/moroshko/react-autowhatever) as its rendering layer. Feel free to submit a PR in `react-autowhatever` to support disabled items.

[2016-05-07 12:16] moroshko commented on #162
@vivinRajagopalan Could you explain why do you need a custom `ref`? What are you trying to achieve?

[2016-05-07 12:51] moroshko commented on #158
@JamieDixon Which version of react-autosuggest are you using? When you hit Enter, suggestions should be hidden like in [this Codepen](http://codepen.io/moroshko/pen/LGNJMy). Could you create a Codepen that demonstrates the issue?

[2016-05-07 12:59] moroshko commented on #66
@jDeppen Sorry, I'm not I understand your issue. Could you create a Codepen that demonstrates the issue?

[2016-05-07 13:04] moroshko commented on #148
I believe that [this](https://github.com/moroshko/react-autowhatever/pull/6) and [this](https://github.com/moroshko/react-autosuggest/pull/153) will address this issue, so closing this one.

[2016-05-07 13:04] #148 closed

[2016-05-09 08:18] moroshko commented on #163
I must admit that I'm a bit confused with the functionality you are trying to achieve. As far as I can see, pressing Tab in Slack is somewhat equivalent to pressing Down, not pressing Enter, i.e. it moves to the next suggestion rather than selecting the focused one. The URL bar in Chrome behaves the same. [Closing this for now.](https://github.com/moroshko/react-autosuggest/pull/164#issuecomment-2

[2016-05-09 08:18] #163 closed

[2016-05-09 21:05] jDeppen commented on #66
http://codepen.io/jDeppen/pen/MyLLee?editors=0011

[2016-05-10 08:50] JamieDixon commented on #158
Hi @moroshko Apologies in the delay in replying. I got married on Sunday so things have been quite busy!

The issue I'm having is when the autocomplete is wrapped in a form and we `preventDefault` on submit. At this point we load our search results (single-page-app) and we need the suggestions to disappear.

Here's an amended version of the pen to illustrate the issue: http://codepen.io/JamieDixon

[2016-05-11 07:43] szyablitsky opened #167 "Add focus() function to component"
I'm using this component inside of https://github.com/olahol/react-tagsinput.
It's working great in general, but `react-tagsinput` calls `focus()` on input when user clicks anywhere inside control area. It would be great if we can pass this `focus()` call to the input of `react-autosuggest`.

[2016-05-11 23:28] avindra commented on #76
@moroshko : Your link does not work. Is there a way to debounce in the latest version?

[2016-05-11 23:47] avindra commented on #76
To answer my own question, I was able to use `lodash` to debounce:

[code]

Something like that should work for you :+1:

[2016-05-12 01:15] moroshko commented on #76
@avindra Sorry for the broken link, I fixed that. Have a look at [this example](http://codepen.io/moroshko/pen/KVaGJE).

[2016-05-12 01:18] moroshko commented on #167
@szyablitsky You can [get the input field](https://github.com/moroshko/react-autosuggest/blob/master/FAQ.md#how-do-i-get-the-input-field) and then call `.focus()` whenever you need. Is that what you are after, or did I misunderstood your request?

[2016-05-12 02:46] szyablitsky commented on #167
@moroshko thank you! That's exactly what I was looking for.

[2016-05-12 02:46] #167 closed

[2016-05-12 06:03] karthikvvs commented on #20
I have noticed that if I set the value of the autosuggest component (its in state) in onSuggestionSelected function to the value selected, its state is modified after the OnBlur function is called on the component. This is causing issues for my case as I want to pass the value selected to the backend when onBlur event is called on the input. Is this the intended behavior? If so, please let me know

[2016-05-12 06:40] moroshko commented on #20
@karthikvvs Could you please create a Codepen that demonstrates the issue?

[2016-05-12 20:44] avindra commented on #55
Linking #76 for reference

[2016-05-14 06:23] moroshko commented on #158
@JamieDixon Congrats man!!

I just checked your pen and I see that the suggestions are hidden when you hit Enter. I thought that the issue is that they stay open. What am I missing?

[2016-05-15 04:16] diegohaz opened #168 "Is onSuggestionFocused actually working?"
I need to know when and which suggestion is focused (not selected yet). I read in old issues that there was a `onSuggestionFocused` property, but It's not documented and I wasn't able to use it.

[2016-05-15 04:23] moroshko commented on #168
`onSuggestionFocused` and `onSuggestionUnfocused` were removed in v3.0.
Can I ask what's your use case for `onSuggestionFocused`?

[2016-05-15 04:29] diegohaz commented on #168
Hi, @moroshko. I'm using autosuggest to render a search song input.
![image](https://cloud.githubusercontent.com/assets/3068563/15272011/0c5e1948-1a3c-11e6-97d9-f0fa14e6263e.png)
When a suggestion is focused, I need to toggle a property on it to display a play button (indicating that the song will play when suggestion is selected).

[2016-05-15 04:35] moroshko commented on #168
Can't you use the `suggestionFocused` style to show/hide the play button? You already have a grey background style for the focused suggestion, so you should be able to do something like this:
[code]

[2016-05-15 04:51] diegohaz commented on #168
The `.playButton` is actually something like `.SongListItem__SongControl`. It's in another component. I can do that, but I would not feel comfortable trespassing its scope. I would like to just toggle a property in my suggestion component. Do you have another solution?

[2016-05-15 04:54] diegohaz commented on #168
To be more specific, the "display play button" do more than a `display: inline`. It's something like:
[code]
It's a specific rule for this component, and if it changes someday, would be nice to just change this component.

[2016-05-15 05:21] moroshko commented on #168
@diegohaz Sorry, I'm not sure I understand the relationship between the Autosuggest component and the "play button". Could you create a Codepen that demonstrates the issue?

[2016-05-15 15:33] JamieDixon commented on #158
Hey @moroshko Thanks for the congratulations.

In my pen, the suggestions are only hidden if you choose one of the suggested items but not when you just hit enter from the input itself. Perhaps you're seeing different behavior? I'm using Chrome 50.0.2661.94 m.

[2016-05-16 00:01] moroshko commented on #158
@JamieDixon Oh, I see!

What you can do, is to grab the input element and blur it yourself when form is submitted. [Example](http://codepen.io/moroshko/pen/aNxrbd)

[2016-05-16 02:14] booboothefool opened #169 "What's the best way to wait for user to stop typing before performing fetch?"

[2016-05-16 03:02] moroshko commented on #169
You probably want to implement debouncing. Have a look at [this example](http://codepen.io/moroshko/pen/KVaGJE).

[2016-05-17 14:08] nkbt commented on #169
@andrewnoh you can use [react-debounce-input](http://npm.im/react-debounce-input)

[2016-05-18 08:42] JamieDixon commented on #158
Thanks @moroshko  We also came up with another solution because we're using redux that allowed us to utilise the `searchSuggestionsVisible`. Additionally, someone on our team is planning to send a PR to contribute back to this project that will allow this functionality. I expect it'll be sent today or tomorrow. Thanks for all your time helping on this. Very much appreciated.

[2016-05-19 11:47] oliverbienert opened #172 "onSubmit should close suggestions list"
I want to readress the `closeSuggestions` programmatically issue. I'd like to use the AutoSuggest control like a search input. I may select a value from the list of suggestions but I don't have to. When I press `enter`, with the cursor in the input, the list should close.
I already have wrapped the component in a form:
[code]
This works so far, except that if the list is open and has some values,

[2016-05-19 14:51] JamieDixon commented on #172
I raised a PR for this exact issue today: https://github.com/moroshko/react-autosuggest/pull/171

[2016-05-19 15:21] oliverbienert commented on #172
Yeah, thank you! Would be cool if we can have that.
Cheers Oliver

[2016-05-19 20:25] talarari commented on #168
i also need to know which suggestion is focused, how would you recommend doing that?
i'm attaching a preview component next to the @autosuggest component, and i need to know which suggestion is focused so i can render its preview.

[2016-05-21 17:03] talarari commented on #168
ok I've found a workaround for now, but it feels a little hacky.
i'm using getSuggestionValue or renderSuggestion which is called when a suggestion is focused to render the preview component when the user moves between suggestions with up and down arrows.

any plan to add the onSuggestionFocuesd callback?

[2016-05-22 11:48] #158 closed

[2016-05-22 12:42] moroshko commented on #162
Closing for no activity

[2016-05-22 12:42] #162 closed

[2016-05-22 12:47] moroshko commented on #172
@oliverbienert I just merged #171 to master, and hope to release a new version soon. Closing as duplicate of #158.

[2016-05-22 12:47] #172 closed

[2016-05-22 23:25] pathsny opened #173 "Handling user editing of selection and clear"
When input props include type: 'search', the search box is rendered with a special "clear" button that allows the user to clear the input. However, when this happens, the "selectedValue" happens to remain the last selection that was made.

There is a similar issue when the user edits the text after a selection was made, but did not choose a selection, but this is probably less of an issue.

Whats

[2016-05-22 23:57] moroshko commented on #173
Hey @pathsny,
I'm not sure what you mean by:

[Here](http://codepen.io/moroshko/pen/YqmNXE) is an example with `type: 'search'`. If I do:

1. Type 'c'
2. Click the clear icon

the input value is cleared, as expected.

Could you elaborate on the issue a bit more, and provide steps to reproduce?

[2016-05-23 00:26] pathsny commented on #173
sure. To give you a bit more context, I'm using this component inside a form. The form is submitted only after the user fills in all fields.
Steps
1) Type C
2) Select the first item in the suggestions
3) click the clear icon.

Now subsequently if the user submits, to the user the submitted value is "", whereas in actuality the selected value is something else that is not visible to them.

[2016-05-23 08:08] moroshko commented on #173
@pathsny I still can't reproduce what you are describing. Have a look at [this pen](http://codepen.io/moroshko/pen/VaobRb). I do the following:

1. Click the input field to focus on it
2. Type `c`
3. Click on the first suggestion
4. Click the clear icon
5. Click the submit button

At this state, in the console I see that an empty value was submitted, which is exactly what users expect.

What am I

[2016-05-23 08:58] ganarajpr commented on #158
Hi, Thank you for merging this PR so fast..
And @JamieDixon awesome work on this 👍 .
@moroshko Could you cut a release for this please ? :)

[2016-05-23 09:19] moroshko commented on #173
@pathsny Can I ask where do you use react-autosuggest?

[2016-05-24 04:40] pathsny commented on #173
Hi @moroshko. I use react-autosuggest on an app that's not publicly available as of yet.
However, I have forked your pen to demonstrate the problem I was describing.
http://codepen.io/pathsny/pen/PNMywb?editors=1111

1. Click the input field to focus on it
2. Type `c`
3. Click on the first suggestion
4. Click the submit button, see console
5. Click the clear icon
6. Click the submit button again,

[2016-05-24 05:45] moroshko commented on #173
@pathsny You're right. Just update the state in the `onChange` handler. Note that [you have access to `method` in the `onChange` handler](https://github.com/moroshko/react-autosuggest#inputprops-required), so you can know, for example, whether the change has occurred as a result of suggestion selection or not.

[2016-05-24 05:46] pathsny commented on #173
makes sense, thanks!

[2016-05-24 05:46] #173 closed

[2016-05-24 05:50] moroshko commented on #173
You're welcome!

[2016-05-24 10:30] moroshko commented on #158
@ganarajpr [Enjoy!](https://github.com/moroshko/react-autosuggest/releases/tag/v3.7.4)

[2016-05-26 09:41] TimCostrop opened #177 "Is the scroll functionality still broken?"
When applied with a fixed height and overflow-y: scroll, it is possible to use the scrollbar with the mouse, but when using the arrow keys, the component does not scroll along?

[2016-05-26 11:07] moroshko commented on #177
There is one known issue which #153 addresses.
Do you experience a different issue?
Note that the [Codepen examples](http://codepen.io/collection/DkkYaQ/) still use an old version of react-autosuggest, which doesn't have the scroll functionality.

[2016-05-31 18:59] countravioli opened #178 "Issue with pseudo classes when theme styling using Radium"
So I've dug into your other component (react-autowhatever) and react-themable a bit. I'm using Radium internally on my application and defining my autosuggest theme using inline styles was fine. The problem comes when we get into psuedo classes. Radium implements them by defining keys on your style object that look like ...
`
const inputStyle = {
height : 50,
borderColor : 'red',
':hover' : {

[2016-05-31 21:35] thomasbottonari commented on #160
I have a use case for this feature. I would like to wrap react-autosuggest in parent component that composes a button below the dropdown list that would allow you to add a suggestion if it doesn't exist in the list you are seeing. Currently, anytime you blur from the input it closes automatically, so it closes before you can press that button. I would like a closeOnBlur prop that I can set to fals

[2016-06-01 12:50] braindrained commented on #116
@BigPrimeNumbers can you share your solution with tcomb-form? I tried the example that gcanti gived to you on the tcomb-form repo but it won't work properly.
Thanks in advance.

[2016-06-01 17:47] BigPrimeNumbers commented on #116
We actually abandoned tcomb-form months ago in favor of just making our own custom forms, so I can't remember exactly what I was doing to make it all work, but here's some of the (modified) code from commits back then:

"FormTemplate.js"
[code]

"Form.js"
[code]

Hope this helps!

[2016-06-02 07:06] braindrained commented on #116
I'll give it a try! Thanks!

[2016-06-02 11:27] sophy-cat opened #179 "Select section title"
I would like to select both the suggestions and also the section title since my search is implemented to search for both.
I tried to achieve this using the `renderSectionTitle` like so:

[code]
and then I would do the necessary actions in the function `handleSectionClick`, but for some reason the click is never called.

Is there any way to do this?

[2016-06-03 06:10] casertap opened #180 "Capture more events from keyboard"
fantastic plugin, thanks for the work.
I would like to capture the "ENTER" event (return key) and when user is typing "SPACE" character.
I tried to add the onKeyPress property in the Autosuggest component but this prop does not get propagated to the input field.

I also would like to have an event generated when the user is leaving the input field.

[2016-06-03 18:54] omanamos opened #181 "Example code seems to be broken"
Seems like onChange method in the example code expects `newValue` to be a string, when it actually looks more like this: `Object {newValue: "c", method: "type"}`

Am I doing something wrong, is that just a typo?

[2016-06-04 17:58] snakeyak opened #182 "Pasting the exact value of suggestion does not trigger onChange"
Hi,

I noticed that if I paste the exact value of a suggestion into the input, onChange() from inputProps is not triggered. As a result, when I click the resulting suggestion (which is the same as the pasted value)  it will not work.

This is the case when used exactly as suggested in the examples:

[code]

[2016-06-06 12:19] Wikunia opened #183 "Show suggestions at the top"
Is it possible to show suggestions above the input field?
Can some one provide a theme or would be nice if it's a simple prop for the component.
Thanks in advance!

[2016-06-06 18:40] 14850842 opened #184 "Push state on select"
Is it possible to on select push state to go to a specified route and maintain the search query if the user goes back to the searchbox.

[2016-06-08 08:01] nkbt commented on #184
We do it with component-router. Totally out of scope for react-autosuggest
On Tue, 7 Jun 2016 at 05:56, Sergio Pellegrini <notifications@github.com>
wrote:

[2016-06-08 20:18] cpsubrian commented on #183
@Wikunia You should be able to use some combination of `transform: translateY(-100%)` and `margin-top: -[height of input field]px` in your css. Those would be on the `suggestionsContainer`.

[2016-06-09 12:59] piotrfalba opened #185 "Autowhatever is changing an uncontrolled input of type text to be controlled"
Autowhatever is changing an uncontrolled input of type text to be controlled. Input elements should not switch from uncontrolled to controlled (or vice versa). Decide between using a controlled or uncontrolled input element for the lifetime of the component. More info: https://fb.me/react-controlled-components

[2016-06-09 16:10] nitte1993 opened #186 "How to access the selected value, If Used inside a form?"
Hi, I'm using this inside a form.
My question, How should I access the selected dropdown value upon form submit?

[code]

[2016-06-10 11:54] Kepro opened #187 "empty input, on click show auto suggest"
i want to show on click on empty input a options that can user select, it's possible to show autosuggest on click? like chosen or other libraries?

because shouldRenderSuggestions doesn't fired onClick into input

[2016-06-10 14:49] snakeyak commented on #147
Very useful feature, would be great. Especially useful when the user types the exact value as suggested, why should he need to click on top of typing

[2016-06-14 10:23] philmetzger opened #189 "function onSuggestionsUpdateRequested({ value, reason }) reason not working?"
The `reason` param of the function `onSuggestionsUpdateRequested` only seems to display `'type'`. `'blur'` for example does not seem to happen. Any fixes for this?